---
import MyLayout from "../layouts/MyLayout.astro"
import Header from "../components/Header.astro"
import Logo from "../components/Logo.astro"
import AvocadoImg from "../../public/2avocados.png"
import Sizes from "../components/Sizes.astro"
import Footer from "../components/Footer.astro"
---

<MyLayout>
	<main id="home-main-content">
		<Header />
		<p class="homeTxt">
			<span>Aguacate Hass de México</span>
		</p>
		<figure>
			<img src={AvocadoImg} />
		</figure>
	</main>
	<Footer />
</MyLayout>

<style type="text/css">

	#home-main-content{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		overflow: hidden;
	}
	
	.homeTxt{
		display: flex;
		width: 100%;
		margin-top: 24vh;
		align-items: center;
	}

	.homeTxt span{
		text-align: center;
		font-size: clamp(2rem, 3.8vw, 3.8rem);
		font-weight: bold;
		color: #666666;
	}


	#home-main-content figure{
		position: relative;
		bottom: -12vh;
		margin: 0;
	}

	#home-main-content figure img{
		width: 100%;
		max-width: 1200px;
		transform: rotate(-34deg);
	}


	@keyframes start {
		from {filter: brightness(0);}
		to {filter: brightness(0.93);}
	}


/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape) {

		.homeTxt{
			justify-content: center;
		}

		#home-main-content figure{
			left: 17%;
			bottom: -22vh;
		}
		
	}
	
</style>


<!-- Bugs
		set the reference to the homepage in the header logo -->