---
import MyLayout from "../layouts/MyLayout.astro"
import Header from "../components/Header.astro"
import Logo from "../components/Logo.astro"
---

<MyLayout>
	<Header />
	<main id="homepage-main">
		<Logo />
	</main>
</MyLayout>

<style type="text/css">
	main {
		display: flex;
		flex-flow: column wrap;
		height: 100vh;
		align-self: center;
	}
	
</style>
