---
import MyLayout from "../layouts/MyLayout.astro"
import Header from "../components/Header.astro"
import Logo from "../components/Logo.astro"
import Sizes from "../components/Sizes.astro"
import Footer from "../components/Footer.astro"
---

<MyLayout>
	<Header />
	<main>
		<div id="home-main-content">
			<div class="headTxt-box">
				<p class="headTxt">Aguacate Hass de México</p>
			</div>

			<!-- <div id="space"></div> -->
		</div>
	</main>
	<!-- <Footer /> -->
</MyLayout>

<style type="text/css">

	main {
		/*background-image: url("https://images.unsplash.com/photo-1655558131821-e4e342357d8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;*/
	}

	#home-main-content {
		display: flex;
		flex-flow: column;
		height: auto;
		gap: 70px;
		align-items: center;
/*		color: rgba(252, 252, 252, 100%);*/
/*		background-color: rgba(10, 10, 10, 20%);*/
	}


	#mission{
		font-size: clamp(0.8rem, 1vw, 1.2rem);
	}

	.headTxt-box{
		background-image: url(https://images.unsplash.com/photo-1655558131821-e4e342357d8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
		background-position: center;
		background-size: center;
		height: 30vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

	}

	.headTxt{
		font-size: 2rem;
		color: white;
		margin: 0;
	}


	@media (min-width:425px) {

		main {
/*			padding-bottom: 20%;*/
/*			height: 1000px;*/
		}

		#home-main-content{
/*			height: 100%;*/
		}

		#space{
			height: 30vh;
		}
	}
	
</style>
