---
import MyLayout from "../layouts/MyLayout.astro"
import Header from "../components/Header.astro"
import Logo from "../components/Logo.astro"
import Sizes from "../components/Sizes.astro"
---

<MyLayout>
	<Header />
	<main id="homepage-main">
		<p id="mission">Mision: Enviar los aguacates de mejor calidad garantizando los estándares más altos de BPA (Buenas prácticas Agrícolas) y BPM (Buenas Prácticas de Manufactura)</p>
		<Logo />
		<Sizes />
	</main>
</MyLayout>

<style type="text/css">
	main {
		display: flex;
		flex-flow: column;
		height: auto;
		gap: 70px;
		align-items: center;
	}

	#mission{
		font-size: clamp(0.8rem, 1vw, 1.2rem);
	}
	
</style>
