---
import MyLayout from "../layouts/MyLayout.astro"
import Header from "../components/Header.astro"
import Logo from "../components/Logo.astro"
import Sizes from "../components/Sizes.astro"
import Footer from "../components/Footer.astro"

---

<MyLayout>
	<main id="home-main-content">
		<Header />
		<p class="homeTxt">
			<span>Aguacate Hass de México</span>
		</p>
		<figure>
			<img src="public/vecteezy_half-an-avocado-on-a-transparent-background_9337421_820.png" />
		</figure>
	</main>
	<Footer />
</MyLayout>

<style type="text/css">

	#home-main-content{
		display: flex;
		flex-direction: column;
		height: 100vh;
		overflow: hidden;
	}
	
	.homeTxt{
		display: flex;
		align-items: center;
		margin: auto 0;
		font-size: clamp(3rem, 3.8vw, 3.8rem);
		font-weight: bold;
		background-color: rgba(10, 10, 10, 40%);
		padding-left: 3%;
		padding-right: 5%;
		width: 50%;
		max-width: 290px;
	}

	.homeTxt span{
		color: #F6F7F6;
	}


	#home-main-content figure{
		position: relative;
		bottom: -17vh;
		margin: 0;
	}

	#home-main-content figure img{
		width: 100%;
		transform: rotate(-34deg);
	}


	@keyframes start {
		from {filter: brightness(0);}
		to {filter: brightness(0.93);}
	}


/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape) {

		.homeTxt{
			padding-left: 9%;
			padding-right: 3%;
			height: 26%;
		}

		#home-main-content figure img{
			top: 35%;
			right: 0;
			left: 16%;
		}
		
	}
	
</style>


<!-- Bugs
		set the reference to the homepage in the header logo -->