---
import MyLayout from '../layouts/MyLayout.astro';
---

<MyLayout>
<!-- 	<header>
		Menu
	</header> -->
	<h1>Home</h1>
</MyLayout>


<!-- <style type="text/css">
	header{
		background-color: green;
	}
</style> -->