---
import MyLayout from "../layouts/MyLayout.astro"
import Header from "../components/Header.astro"
import Logo from "../components/Logo.astro"
import Sizes from "../components/Sizes.astro"
import Footer from "../components/Footer.astro"
// import Hello from "../components/Hello.astro"

---

<MyLayout>
	<main id="home-main-content">
		<Header />
		<img class="headTxt-box"/>
		<p class="headTxt">Aguacate Hass de México</p>
	</main>
	<Footer />
</MyLayout>

<style type="text/css">

	.headTxt-box{
		filter: brightness(0.93);
		height: 95vh;
		width: 100%;
		display: flex;
		align-items: center;
		background-image: url(https://www.mixt.com/wp-content/uploads/2020/07/Stocksy_txp33c5c38aAom100_Medium_1735653.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		animation-name: start;
		animation-duration: 2.7s;
	}


	.headTxt{
		position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  margin: auto 0;
	  font-size: clamp(3rem, 3.8vw, 3.8rem);
		font-weight: bold;
		color: rgba(10, 10, 10, 100%);
		margin-left: 3%;
		width: 50%;
		max-width: 290px;
		height: 30%;
	}


	@keyframes start {
		from {filter: brightness(0);}
		to {filter: brightness(0.93);}
	}


/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape) {

		.headTxt{
			margin-left: 9%;
		}
		
	}
	
</style>


<!-- Bugs
		set the reference to the homepage in the header logo -->