---
import MyLayout from "../layouts/MyLayout.astro"
import Header from "../components/Header.astro"
import Logo from "../components/Logo.astro"
import Sizes from "../components/Sizes.astro"
---

<MyLayout>
	<Header />
	<main id="homepage-main">
		<p>Mision</p>
		<Logo />
		<Sizes />
	</main>
</MyLayout>

<style type="text/css">
	main {
		display: flex;
		flex-flow: column;
		height: auto;
		gap: 70px;
	}
	
</style>
