---
import MyLayout from "../layouts/MyLayout.astro"
import Header from "../components/Header.astro"
import PageH from "../components/PageH.astro"
import DropDownData from "../components/DropDownData.astro"
import WePics from "../components/WePics.astro"
import Address from "../components/Address.astro"
import Footer from "../components/Footer.astro"

---

<MyLayout>
	<Header />
	<section id="nosotros-box">
		<PageH 
			pageName= "Nosotros"/>
		<DropDownData />
		<WePics />
	</section>
	<Address />
<Footer />
</MyLayout>


<style type="text/css">
	#nosotros-space{
		height: 10%;
	}

</style>
