---
import MyLayout from "../layouts/MyLayout.astro"
import Header from "../components/Header.astro"
import PageH from "../components/PageH.astro"
import BigSmallTxt from "../components/BigSmallTxt.astro"
import Footer from "../components/Footer.astro"

---

<MyLayout>
	<Header />
	<section id="nosotros-box">
		<PageH 
			pageName= "Nosotros"/>|
		<article id="mission-vision">
			<BigSmallTxt 
			bigTxt= "Misión"
			smallTxt= "Enviar los aguacates de mejor calidad garantizando los estándares más altos de BPA (Buenas prácticas Agrícolas) y BPM (Buenas Prácticas de Manufactura)"/>
			<BigSmallTxt 
			bigTxt= "Visión"
			smallTxt= "Enviar los aguacates de mejor calidad garantizando los estándares más altos de BPA (Buenas prácticas Agrícolas) y BPM (Buenas Prácticas de Manufactura)"/>
			<BigSmallTxt 
			bigTxt= "Historia"
			smallTxt= "Además, a partir de mayo de 2015, Corporativo La Viña estableció un centro de dAdemás, a partir de mayo de 2015, Corporativo La Viña estableció un centro de distribución en San Salvador Huixcolotla, Puebla, beneficiando la logística de sus clientes del centro y sureste de México, con instalaciones de primer nivel ofertando diferentes productos. demás, a partir de mayo de 2015, Corporativo La Viña estableció un centro de distribución en San Salvador Huixcolotla, Puebla, beneficiando la logística de sus clientes del centro y sureste de México, con instalaciones de primer nivel ofertando diferentes productos."/>
		</article>
	</section>

</MyLayout>


<style type="text/css">
	#nosotros-box{
/*		background-color: blue;*/
	}
</style>
