<a name="find us"></a>
<article id="findUs-box">
	<h2>Contáctanos</h2>
	<section id="address-box">
		<ul id="address-key">
			<li>Col:</li>
			<li>Calle:</li>
			<li>Ciudad:</li>
			<li>C.P.:</li>
		</ul>
		<ul id="address-value">
			<li>Santa Rosa</li>
			<li>Camino a Santa Rosa NORTE #650</li>
			<li>Uruapan, Mich</li>
			<li>60000</li>
		</ul>
	</section>
	<a id="map-a" href="https://www.google.com/maps/place/EMPAQUE+DEL+MONTE+URUAPAN/@19.387084,-102.0344653,17.09z/data=!4m6!3m5!1s0x842de3d485bcf595:0x8763233e0b9f8a00!8m2!3d19.3867025!4d-102.0327894!16s%2Fg%2F11h8d1fm1p">
		<img id="map" src="../../public/location.png">
	</a>
	<section id="contactData">
		<ul id="contact-key">
			<li>
				<i class="fa-solid fa-phone"></i>
			</li>
			<li>
				<i class="fa-solid fa-envelope"></i>
			</li>
		</ul>
		<ul id="contact-value">
			<li>+52 452-121-6744</li>
			<li>rh@avocados.com</li>
		</ul>
	</section>
	<section id="socialData">
		<ul>
			<li>
				<i class="fa-brands fa-twitter"></i>
			</li>
			<li>
				<i class="fa-brands fa-facebook"></i>
			</li>
			<li>
				<i class="fa-brands fa-linkedin"></i>
			</li>
			<li>
				<i class="fa-brands fa-instagram"></i>
			</li>
		</ul>
	</section>
</article>


<style type="text/css">

	#findUs-box{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5%;
	}

	h2{
		font-size: 1.5rem;
		text-align: center;
	}

	#address-box, #contactData{
		display: flex;
		line-height: 25px;
		justify-content: center;

	}

	#address-key{
		text-align: end;
	}

	#address-value{
		padding-left: 3%;
	}

	li{
		font-size: clamp(0.9rem, 1.3vw, 1.2rem);
		list-style: none;
	}

	#map{
		width: 100%;
		max-width: 600px;
		max-height: 350px;
	}

	#contact-key{
		padding: 0;
	}

	#contact-key li, #contact-value li{
		font-size: clamp(1.1rem, 1.5vw, 1.3rem);
	}
	#socialData ul{
		display: flex;
		gap: 10%;
		justify-content: center;
		padding: 0;
	}

	#socialData ul li{
		font-size: clamp(1.7rem, 2vw, 2rem);
	}



	/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape){

		#findUs-box{
			flex-flow: row wrap;
			gap: 3%;
			justify-content: center;
		}

		#findUs-box h2{
			width: 100%;
		}
	}

</style>