---
const { bigTxt, smallTxt } = Astro.props
---

<p id="bigTxt" class="bigSmallTxt-box">{bigTxt}</p>
<p id="smallTxt">{smallTxt}</p>

<style type="text/css">
	.bigSmallTxt-box{
		display: inline-block;
		width: 100%;
	}

	#bigTxt{
		font-size: clamp(1.5rem, 1vw, 1rem);
		font-weight: bold;
		text-align: center;
	}

	#smallTxt{
		font-size: clamp(0.9rem, 1vw, 1rem);
		padding: 0 clamp(18px, 9%, 12px);
		text-align: center;
	}
</style>
