<article id="certifications">
	<h2>Certificaciones</h2>
	<picture id="cert-pics">
		<figure>
			<img alt="primusGFS logo" src="https://primusgfs.com/wp-content/uploads/2019/07/pgfs-who-logo.jpg" />
		</figure>
		<figure>
			<img alt="GlobalGAP logo" src="https://seeklogo.com/images/G/global-g-a-p-logo-7AE0F2947E-seeklogo.com.png" />
		</figure>
		<figure>
			<img alt="GlobalGAP logo" src="https://e7.pngegg.com/pngimages/919/449/png-clipart-organic-certification-ecocert-organic-food-cosmos-gmp-text-trademark.png" />
		</figure>
	</picture>
</article>
<style type="text/css">
	
	#certifications h2{
		text-align: center;
	}

	#cert-pics{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	#cert-pics figure{
		width: 25%;
	}

	#cert-pics figure img {
		width: 100%;
	}
</style>