<section id="clients">
	<h2>Clientes</h2>
	<picture class="clients-picture">
		<figure class="client-fig">
			<img class="clients-img" src="https://1000marcas.net/wp-content/uploads/2020/02/Walmart-logo-1.jpg" alt="Walmart logo" />
		</figure>
		<figure class="client-fig">
			<img class="clients-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Whole_Foods_Market_201x_logo.svg/2048px-Whole_Foods_Market_201x_logo.svg.png" alt="Whole Foods logo" />
		</figure>
		<figure class="client-fig">
			<img class="clients-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Logo_de_Cherdraui.svg/2560px-Logo_de_Cherdraui.svg.png" alt="Chedraui logo" />
		</figure>
		<figure class="client-fig">
			<img class="clients-img" src="https://www.supermarketperimeter.com/ext/resources/Kroger_Newlogo.jpg?t=1573052149&width=696" alt="Kroger logo" />
		</figure>
		<figure class="client-fig">
			<img class="clients-img" src="https://www.johornow.com/wp-content/uploads/2021/05/aeon-1.jpeg" alt="AEON logo" />
		</figure>
		<figure class="client-fig">
			<img class="clients-img" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/v1487967903/u4md5yfpbtztyzqzwqx6.png" alt="Seiyu logo" />
		</figure>
		<figure class="client-fig">
			<img class="clients-img" src="https://www.chieflearningofficer.com/wp-content/uploads/2022/06/1200px-Loblaw_Companies_Logo.svg_-1.png" alt="Loblaw logo" />
		</figure>
	</picture>
</section>
<figure>
			
<style>

	#clients h2{
		text-align: center;
	}

	.clients-picture{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 5%;
		margin: 0 6%;
	}

	.clients-img{
		height: 100px;
		margin: 5% 0;
	}

	.client-fig{
		margin: 0;
	}

	/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape){
		.clients-img{
			height: 150px;
		}
	}
</style>
