<section>
	<h2>Clientes</h2>
	<picture class="clients-picture">
		<figure class="client-fig">
			<img class="clients-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Logo_de_Cherdraui.svg/2560px-Logo_de_Cherdraui.svg.png" alt="Chedraui logo" />
		</figure>
		<figure class="client-fig">
			<img class="clients-img" src="https://1000marcas.net/wp-content/uploads/2020/02/Walmart-logo-1.jpg" alt="Walmart logo" />
		</figure>
		<figure class="client-fig">
			<img class="clients-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Whole_Foods_Market_201x_logo.svg/2048px-Whole_Foods_Market_201x_logo.svg.png" alt="Whole Foods logo" />
		</figure>
		<figure class="client-fig">
			<img class="clients-img" src="https://www.supermarketperimeter.com/ext/resources/Kroger_Newlogo.jpg?t=1573052149&width=696" alt="Kroger logo" />
		</figure>
		<figure class="client-fig">
			<img class="clients-img" src="https://www.johornow.com/wp-content/uploads/2021/05/aeon-1.jpeg" alt="AEON logo" />
		</figure>
	</picture>
</section>
<figure>
			
<style>

	.clients-picture{
		display: flex;
		flex-flow: row wrap;
	}

	.clients-img{
		height: 100px;
	}

	.client-fig{
		margin: 0;
	}
</style>
