---
---
<a name="about us"></a>
<article id="brandInfo-box">
	<section class="topic">
		<h3 id="description-h" class="topic-h">Descripción</h3>
		<p class="weTxtHidden">Centro de acopio y exportación de aguacate Hass</p>
		<i class="fa-solid fa-circle-chevron-down"></i>
	</section>
	<section class="topic">
		<h3 class="topic-h">Misión</h3>
		<p id="missionP" class="weTxtHidden">Enviar los aguacates de mejor calidad garantizando los estándares más altos de BPA (Buenas prácticas Agrícolas) y BPM (Buenas Prácticas de Manufactura)</p>
		<i class="fa-solid fa-circle-chevron-down"></i>
	</section>
	<section class="topic">
		<h3 class="topic-h">Visión</h3>
		<p id="visionP" class="weTxtHidden">Ser el principal proveedor de aguacate del mundo</p>
		<i class="fa-solid fa-circle-chevron-down"></i>
	</section>
	<section class="topic">
		<h3 class="topic-h">Valores</h3>
		<ul class="weTxtHidden">
			<li>Pasión</li>
			<li>Compromiso</li>
			<li>Responsabilidad</li>
			<li>Disciplina</li>
			<li>Tolerancia</li>
		</ul>
		<i class="fa-solid fa-circle-chevron-down"></i>
	</section>
	<section class="topic">
		<h3 class="topic-h">Historia</h3>
		<p id="storyP" class="weTxtHidden">Además, a partir de mayo de 2015, Corporativo La Viña estableció un centro de dAdemás, a partir de mayo de 2015, Corporativo La Viña estableció un centro de distribución en San Salvador Huixcolotla, Puebla, beneficiando la logística de sus clientes del centro y sureste de México, con instalaciones de primer nivel ofertando diferentes productos. demás, a partir de mayo de 2015, Corporativo La Viña estableció un centro de distribución en San Salvador Huixcolotla, Puebla, beneficiando la logística de sus clientes del centro y sureste de México, con instalaciones de primer nivel ofertando diferentes productos.</p>
		<i class="fa-solid fa-circle-chevron-down"></i>
	</section>
	
	
</article>

<style type="text/css">

	#brandInfo-box{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 0.5px 0;
	}

	.topic{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 5px;
		background-color: #FCFCFC;
	}

	.topic:nth-of-type(1){

		border-bottom: 1px solid;
	}

	.topic:nth-of-type(2){
		font-size: clamp(1.1rem, 1.9vw, 2rem);
		width: 49%;
		border-right: 1px solid;
	}

	.topic:nth-of-type(3){
		width: 50%;
		font-size: clamp(1.2rem, 2vw, 2rem);
	}

	.topic:nth-of-type(4){
		width: 100%;
		border-top: 1px solid;
		border-bottom: 1px solid;
	}

	.topic-h{
		font-size: clamp(1rem, 2vw, 2rem);
		font-weight: bold;
		color: #FCFCFC;
		align-self: center;

	}

	#description-h{
		font-size: clamp(1.2rem, 2vw, 2rem);
	}

	.weTxtHidden{
		display: block;
		background-color: rgba(143,241,101,90%);
		font-size: clamp(1rem, 1.5vw, 1.3rem);
		margin: 1% 0;
/*		border-radius: 7px;*/
		text-align: center;
		height: 0;
		overflow: hidden;
		transition: 1s;
	}

	.weTxtShow-mission, .weTxtShow-vision{
		padding: 8% 3%;

	}
	.weTxtShow-mission{
		height: 170px;
	}

	.weTxtShow-vision{
		height: 40px;		
	}

	.weTxtShow-story{
		height: 320px;
		padding: 10% 3%;
	}

	article i {
		font-size: 1.3rem;
		color: #8FF165;
		transition: 1s;
	}

	.arrowUp{
		transform: rotate(0.5turn);
		color: unset;

	}


	/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape) {

		#brandInfo-box{
			flex-flow: row wrap;
			background-image: url("https://images.unsplash.com/photo-1580741753044-b3f303ad361b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
			background-size: cover;
			background-attachment: fixed;
		}

		.topic{
			height: 50vh;
			width: 50%;
			align-items: start;
			justify-content: center;
		}

		.topic:nth-of-type(2){
			justify-content: center;
		}

		.topic:nth-of-type(3){
			width: 100%;
			height: 22%;
			background-image: none;
			background-color: transparent;
		}

		.topic i{
			display: none;
		}

		.weTxtHidden{
			background-color: rgba(240, 240, 240, 90%);
			height: auto;
			padding: 5% 7%;
			width: 75%;
		}
	}
</style>

<script type="text/javascript">
	const arrowBtns = document.querySelectorAll(".fa-circle-chevron-down");
	const descriptions = document.querySelectorAll(".weTxtHidden");
	const last = document.querySelector(".storyP");

	let openMission = false;
	let openVision = false;
	let openStory = false;

	for(i = 0; i < arrowBtns.length; i++){
		arrowBtns[i].addEventListener("touchstart", function (e) {
			// open mission
			if(!openMission && e.target === arrowBtns[0]){
				descriptions[0].classList.add("weTxtShow-mission");
				arrowBtns[0].classList.add("arrowUp");
				openMission = !openMission;
			}
			 // close mission 
			else if(openMission && e.target === arrowBtns[0]){
				descriptions[0].classList.remove("weTxtShow-mission");
				arrowBtns[0].classList.remove("arrowUp");
				openMission = !openMission;
			}


			// open vision
			else if(!openVision && e.target === arrowBtns[1]){
				descriptions[1].classList.add("weTxtShow-vision");
				arrowBtns[1].classList.add("arrowUp");
				openVision = !openVision;
			}
			 // close vision 
			else if(openVision && e.target === arrowBtns[1]){		descriptions[1].classList.remove("weTxtShow-vision");
				arrowBtns[1].classList.remove("arrowUp");
				openVision = !openVision;
			}

			// open story
			else if(!openStory && e.target === arrowBtns[2]){
				descriptions[2].classList.add("weTxtShow-story");
				arrowBtns[2].classList.add("arrowUp");
				openStory = !openStory;
			}
			 // close story 
			else if(openStory && e.target === arrowBtns[2]){	
				descriptions[2].classList.remove("weTxtShow-story");
				arrowBtns[2].classList.remove("arrowUp");
				openStory = !openStory;
			}
			
		});
	}
	


</script>
