---
---
<a name="about us"></a>
<article id="brandInfo-box">
	<section class="slogan-box">
		<i class="fa-solid fa-quote-left"></i>
		<span class="slogan-txt">Creando sonrisas verdes</span>
		<i class="fa-solid fa-quote-right"></i>
	</section>
	<section class="topic description">
		<h3 id="description-h" class="topic-h">Descripción</h3>
		<figure id="desciption-fig">
			<img alt="avocados image" src="../../public/vecteezy_avocado-fruit-healthy-food_12629188_575.png" />
		</figure>
		<div class="descriptionInfo-box">
			<h3>Descripción</h3>
			<p class="descriptionInfo-txt">Centro de acopio y exportación de aguacate Hass</p>
		</div>
		
	</section>
	<section class="topic mission">
		<h3 id="mission-h" class="topic-h">Misión</h3>
		<figure id="mission-fig">
			<img alt="black avocado image" src="../../public/avocado-black.png" />
		</figure>
		<div>
			<p id="missionP" class="weTxtHidden">Enviar los aguacates de mejor calidad garantizando los estándares más altos de BPA (Buenas prácticas Agrícolas) y BPM (Buenas Prácticas de Manufactura)</p>
		</div>
	</section>
	<section class="topic vision">
		<h3 id="vision-h" class="topic-h">Visión</h3>
		<figure id="vision-fig">
			<img alt="world image" src="https://pngimg.com/d/earth_PNG14.png" />
		</figure>
		<div>
			<p id="visionP" class="weTxtHidden">Ser el principal proveedor de aguacate del mundo</p>
		</div>
	</section>
	<section class="topic story">
		<h3 id="story-h" class="topic-h">Historia</h3>
		<div>
			<p id="storyP" class="weTxtHidden">Además, a partir de mayo de 2015, Corporativo La Viña estableció un centro de dAdemás, a partir de mayo de 2015, Corporativo La Viña estableció un centro de distribución en San Salvador Huixcolotla, Puebla, beneficiando la logística de sus clientes del centro y sureste de México, con instalaciones de primer nivel ofertando diferentes productos. demás, a partir de mayo de 2015, Corporativo La Viña estableció un centro de distribución en San Salvador Huixcolotla, Puebla, beneficiando la logística de sus clientes del centro y sureste de México, con instalaciones de primer nivel ofertando diferentes productos.</p>
		</div>
	</section>
	
	
</article>

<style type="text/css">

	#brandInfo-box{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 1.5px 0;
	}

	.slogan-box{
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;
		height: 25vh;
	}

	.slogan-box i{
		font-size: 2rem;
		color: #f0f0f0;
	}

	.fa-quote-left{
		align-self: start;
		margin-left: 2%
	}

	.fa-quote-right{
		align-self: end;
		margin-right:2%;
	}

	.slogan-txt{
		font-weight: bold;
		font-size: 1.7rem;
		color: #FCFCFC;
		text-align: center;

	}

	.slogan-box::before{
		content: "";
		background-image: url("https://burst.shopifycdn.com/photos/two-avocado-slices.jpg?width=925&format=pjpg&exif=1&iptc=1");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		filter: brightness(0.85);
		height: 25vh;
		width: 100%;
		position: absolute;
		left: 0;
		top: 81px;
		z-index: -1;
	}

	.topic{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #f0f0f0;
	}

	.description{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: end;
		background: linear-gradient(140deg, #f0f0f0 56%, #fcfcfc);
		width: 100%;
		height: 20vh;
	}

	#description-h{
		display: none;
		font-size: clamp(1.6rem, 2vw, 2rem);
	}

	#desciption-fig{
		display: none;
		width: 30%;
		height: 100%;
		margin: 0;
		overflow: hidden;
	}

	#desciption-fig img{
		width: 146%;
	}

	.descriptionInfo-box{
		width: 100%;
		background-color: #f0f0f0;
	}

	.descriptionInfo-box h3{
		font-size: 1rem;
		text-align: center;
	}

	.descriptionInfo-box p{
		text-align: center;
	}

	.mission{
		justify-content: end;
		width: 49%;
		height: 16vh;
		margin-right: 1px;
		background: linear-gradient(180deg, #f0f0f0 56%, #fcfcfc);
	}

	#mission-fig{
		width: 87%;
		margin: 0;
		height: 36.6%;
		overflow: hidden;
		margin-right: auto;
	}

	#mission-fig img{
		width: 100%;
	}


	.vision{
		justify-content: end;
		width: 50%;
		height: 16vh;
		background: linear-gradient(180deg, #f0f0f0 56%, #fcfcfc);
	}

	#vision-fig{
		width: 100%;
		margin: 0;
		height: 36.6%;
		overflow: hidden;
	}

	#vision-fig img{
		width: 100%;
	}

	.values{
		width: 100%;
		height: 14vh;
	}

	.story{
		height: 12vh;
	}

	.topic-h{
		color: #666666;
		align-self: center;
		margin: 0;
	}


	.weTxtHidden{
		display: block;
		background-color: rgba(143,241,101,90%);
		font-size: clamp(1rem, 1.5vw, 1.3rem);
		margin: 1% 0;
		text-align: center;
		height: 0;
		overflow: hidden;
		transition: 1s;
	}

	.weTxtShow-mission, .weTxtShow-vision{
		padding: 8% 3%;

	}
	.weTxtShow-mission{
		height: 170px;
	}

	.weTxtShow-vision{
		height: 40px;		
	}

	.weTxtShow-story{
		height: 320px;
		padding: 10% 3%;
	}

	.fa-circle-chevron-down{
		display: none;
		font-size: 1.3rem;
		color: black;
		transition: 1s;
	}

	.arrowUp{
		transform: rotate(0.5turn);
		color: unset;

	}


	/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape) {

		.slogan-box{
			height: 33vh;
		}

		.slogan-box::before{
			height: 33vh;
			top: 108px;
		}

		.topic i{
			display: none;
		}

		.weTxtHidden{
			background-color: rgba(240, 240, 240, 90%);
			height: auto;
			padding: 5% 7%;
			width: 75%;
		}
	}
</style>

<script type="text/javascript">
	const arrowBtns = document.querySelectorAll(".fa-circle-chevron-down");
	const descriptions = document.querySelectorAll(".weTxtHidden");
	const last = document.querySelector(".storyP");

	let openMission = false;
	let openVision = false;
	let openStory = false;

	for(i = 0; i < arrowBtns.length; i++){
		arrowBtns[i].addEventListener("touchstart", function (e) {
			// open mission
			if(!openMission && e.target === arrowBtns[0]){
				descriptions[0].classList.add("weTxtShow-mission");
				arrowBtns[0].classList.add("arrowUp");
				openMission = !openMission;
			}
			 // close mission 
			else if(openMission && e.target === arrowBtns[0]){
				descriptions[0].classList.remove("weTxtShow-mission");
				arrowBtns[0].classList.remove("arrowUp");
				openMission = !openMission;
			}


			// open vision
			else if(!openVision && e.target === arrowBtns[1]){
				descriptions[1].classList.add("weTxtShow-vision");
				arrowBtns[1].classList.add("arrowUp");
				openVision = !openVision;
			}
			 // close vision 
			else if(openVision && e.target === arrowBtns[1]){		descriptions[1].classList.remove("weTxtShow-vision");
				arrowBtns[1].classList.remove("arrowUp");
				openVision = !openVision;
			}

			// open story
			else if(!openStory && e.target === arrowBtns[2]){
				descriptions[2].classList.add("weTxtShow-story");
				arrowBtns[2].classList.add("arrowUp");
				openStory = !openStory;
			}
			 // close story 
			else if(openStory && e.target === arrowBtns[2]){	
				descriptions[2].classList.remove("weTxtShow-story");
				arrowBtns[2].classList.remove("arrowUp");
				openStory = !openStory;
			}
			
		});
	}
	


</script>
