---
---
<a name="about us"></a>
<article id="brandInfo-box">
	<section class="slogan-box">
		<i class="fa-solid fa-quote-left"></i>
		<span class="slogan-txt">Creando sonrisas verdes</span>
		<i class="fa-solid fa-quote-right"></i>
	</section>
	<section class="topic description">
		<h3 id="description-h" class="topic-h">Descripción</h3>
		<figure id="desciption-fig" class="topic-fig">
			<img alt="avocados image" src="../../public/vecteezy_avocado-fruit-healthy-food_12629188_575.png" />
		</figure>
		<div class="topicInfo-box descriptionInfo-box">
			<h3>Descripción</h3>
			<p class="descriptionInfo-txt">Centro de acopio y exportación de aguacate Hass</p>
		</div>
		
	</section>
	<section class="topic mission">
		<h3 id="mission-h" class="topic-h">Misión</h3>
		<figure id="mission-fig" class="topic-fig">
			<img alt="black avocado image" src="../../public/avocado-black.png" />
		</figure>
		<div class="topicInfo-box missionInfo-box">
			<h3>Misión</h3>
			<p class="missionInfo-txt">Enviar los aguacates de mejor calidad garantizando los estándares más altos de BPA (Buenas prácticas Agrícolas) y BPM (Buenas Prácticas de Manufactura)</p>
		</div>
	</section>
	<section class="topic vision">
		<h3 id="vision-h" class="topic-h">Visión</h3>
		<figure id="vision-fig" class="topic-fig">
			<img alt="world image" src="https://pngimg.com/d/earth_PNG14.png" />
		</figure>
		<div class="topicInfo-box visionInfo-box">
			<h3>Visión</h3>
			<p class="visionInfo-txt">Ser el principal proveedor de aguacate del mundo</p>
		</div>
	</section>
	<section class="topic story">
		<h3 id="story-h" class="topic-h">Historia</h3>
		<div class="topicInfo-box storyInfo-box">
			<h3>Story</h3>
			<p class="storyInfo-txt">Además, a partir de mayo de 2015, Corporativo La Viña estableció un centro de dAdemás, a partir de mayo de 2015, Corporativo La Viña estableció un centro de distribución en San Salvador Huixcolotla, Puebla, beneficiando la logística de sus clientes del centro y sureste de México, con instalaciones de primer nivel ofertando diferentes productos. demás, a partir de mayo de 2015, Corporativo La Viña estableció un centro de distribución en San Salvador Huixcolotla, Puebla, beneficiando la logística de sus clientes del centro y sureste de México, con instalaciones de primer nivel ofertando diferentes productos.</p>
		</div>
	</section>
	
	
</article>

<style type="text/css">

	#brandInfo-box{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 1.5px 0;
	}

	.slogan-box{
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;
		height: 25vh;
	}

	.slogan-box i{
		font-size: 2rem;
		color: #f0f0f0;
	}

	.fa-quote-left{
		align-self: start;
		margin-left: 2%
	}

	.fa-quote-right{
		align-self: end;
		margin-right:2%;
	}

	.slogan-txt{
		font-weight: bold;
		font-size: 1.7rem;
		color: #FCFCFC;
		text-align: center;

	}

	.slogan-box::before{
		content: "";
		background-image: url("https://burst.shopifycdn.com/photos/two-avocado-slices.jpg?width=925&format=pjpg&exif=1&iptc=1");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		filter: brightness(0.85);
		height: 25vh;
		width: 100%;
		position: absolute;
		left: 0;
		top: 81px;
		z-index: -1;
	}

	.topic{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #f0f0f0;
	}

	.topic-h{
		color: #666666;
		align-self: center;
		margin: 0;
	}

	.description{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: end;
		background: linear-gradient(140deg, #f0f0f0 56%, #fcfcfc);
		width: 100%;
		height: 22vh;
	}

	#description-h{
		font-size: clamp(1.6rem, 2vw, 2rem);
	}

	#desciption-fig{
		width: 30%;
		height: 100%;
		margin: 0;
		overflow: hidden;
	}

	#desciption-fig img{
		width: 146%;
	}

	.mission, .vision{
		width: 49%;
		height: 20vh;
		margin-right: 1px;
		background: linear-gradient(180deg, #f0f0f0 56%, #fcfcfc);
	}

	#mission-h, #vision-h{
		margin-top: auto;
	}

	#mission-fig{
		width: 87%;
		margin: 0;
		height: 36.6%;
		overflow: hidden;
		margin-right: auto;
	}

	#mission-fig img{
		width: 100%;
	}

	#vision-fig{
		width: 100%;
		margin: 0;
		height: 36.6%;
		overflow: hidden;
	}

	#vision-fig img{
		width: 100%;
	}

	#story-h{
		height: 14vh;
	}


/*topic clicked*/

	.topicInfo-box{
		display: none;
	}

	.topicInfo-box h3{
		text-align: center;
		color: #666666
	}

	.topicInfo-box p{
		padding: 0 8%;
		text-align: center;
		line-height: 120%;
		color: #666666
	}

	.descriptionInfo-box{
		width: 100%;
		background-color: #f0f0f0;
	}

	.descriptionInfo-box h3{
		font-size: 1.2rem;
	}

	.descriptionInfo-txt{
		font-size: 0.9rem;
		text-align: center;
	}

	.missionInfo-box h3, .visionInfo-box h3{
		font-size: 1rem;
		margin: 5% 0;
	}

	.missionInfo-txt, .visionInfo-txt{
		font-size: 0.7rem;
	}

	.storyInfo-box h3{
		font-size: 0.95rem;
		margin: 2% 0;
	}

	.storyInfo-txt{
		font-size: 0.65rem;
	}



	/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape) {

		.slogan-box{
			height: 33vh;
		}

		.slogan-box::before{
			height: 33vh;
			top: 108px;
		}

		.topic i{
			display: none;
		}

		.weTxtHidden{
			background-color: rgba(240, 240, 240, 90%);
			height: auto;
			padding: 5% 7%;
			width: 75%;
		}
	}
</style>

<script type="text/javascript">
</script>
