---
---
<a name="about us"></a>
<article id="brandInfo-box">
	<section class="slogan-box">
		<i class="fa-solid fa-quote-left"></i>
		<span class="slogan-txt">Creando sonrisas verdes</span>
		<i class="fa-solid fa-quote-right"></i>
	</section>
	<section class="topic description">
		<h3 class="topic-h description-h">Descripción</h3>
		<figure id="description-fig" class="topic-fig">
			<img alt="avocados image" src="../../public/vecteezy_avocado-fruit-healthy-food_12629188_575.png" />
		</figure>
		<i class="fa-sharp fa-solid fa-eye"></i>
		<div class="topicInfo-box descriptionInfo-box">
			<h3>Descripción</h3>
			<p class="descriptionInfo-txt">Centro de acopio y exportación de aguacate Hass.</p>
		</div>
	</section>
	<section class="topic mission">
		<i class="fa-sharp fa-solid fa-eye"></i>
		<h3 id="mission-h" class="topic-h">Misión</h3>
		<figure id="mission-fig" class="topic-fig">
			<img alt="black avocado image" src="../../public/avocado-black.png" />
		</figure>
		<div class="topicInfo-box missionInfo-box">
			<h3>Misión</h3>
			<p class="missionInfo-txt">Enviar los aguacates de mejor calidad garantizando los estándares más altos de BPA (Buenas prácticas Agrícolas) y BPM (Buenas Prácticas de Manufactura).</p>
		</div>
	</section>
	<section class="topic vision">
		<i class="fa-sharp fa-solid fa-eye"></i>
		<h3 id="vision-h" class="topic-h">Visión</h3>
		<figure id="vision-fig" class="topic-fig">
			<img alt="world image" src="https://pngimg.com/d/earth_PNG14.png" />
		</figure>
		<div class="topicInfo-box visionInfo-box">
			<h3>Visión</h3>
			<p class="visionInfo-txt">Ser el principal proveedor de aguacate del mundo.</p>
		</div>
	</section>
	<section class="topic story">
		<h3 id="story-h" class="topic-h">Historia</h3>
		<i class="fa-sharp fa-solid fa-eye"></i>
		<div class="topicInfo-box storyInfo-box">
			<h3>Story</h3>
			<p class="storyInfo-txt">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</section>
	
	
</article>

<style type="text/css">

	#brandInfo-box{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 1.5px 0;
	}

	.slogan-box{
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;
		height: 25vh;
	}

	.slogan-box i{
		font-size: 2rem;
		color: #f0f0f0;
	}

	.fa-quote-left{
		align-self: start;
		margin-left: 2%
	}

	.fa-quote-right{
		align-self: end;
		margin-right:2%;
	}

	.slogan-txt{
		font-weight: bold;
		font-size: 1.7rem;
		color: #FCFCFC;
		text-align: center;

	}

	.slogan-box::before{
		content: "";
		background-image: url("https://burst.shopifycdn.com/photos/two-avocado-slices.jpg?width=925&format=pjpg&exif=1&iptc=1");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		filter: brightness(0.85);
		height: 25vh;
		width: 100%;
		position: absolute;
		left: 0;
		top: 81px;
		z-index: -1;
	}

	.topic{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #f0f0f0;
	}

	.topic-h{
		color: #666666;
		text-align: center;
		margin: 0;
	}

	.description{
		display: grid;
		grid-template: 1fr 1fr/ 30% 40% 30%;
		background: linear-gradient(140deg, #f0f0f0 56%, #fcfcfc);
		width: 100%;
		height: 22vh;
	}

	.description i{
		font-size: 1.3rem;
		grid-area: 2 / 2;
		justify-self: center;
	}

	.description-h{
		font-size: clamp(1.3rem, 2vw, 2rem);
		grid-column: 2;
		align-self: end;
	}

	#description-fig{
		grid-area: 1 / 3 / -1 / -1;
		height: max-content;
		margin: 0;
		overflow: hidden;
	}

	#description-fig img{
		width: 134%;
	}

	.mission, .vision{
		width: 49%;
		height: 20vh;
		margin-right: 1px;
		background: linear-gradient(180deg, #f0f0f0 56%, #fcfcfc);
	}

	.mission i, .vision i{
		position: relative;
		top: 24%;
		font-size: 0.9rem;
	}

	.story i{
		font-size: 0.9rem;
		position: relative;
		top: 10%;
	}

	#mission-h, #vision-h{
		margin-top: auto;
		margin-bottom: 2%;
	}

	#mission-fig{
		width: 87%;
		margin: 0;
		height: 36.6%;
		overflow: hidden;
		margin-right: auto;
	}

	#mission-fig img{
		width: 100%;
	}

	#vision-fig{
		width: 100%;
		margin: 0;
		height: 36.6%;
		overflow: hidden;
	}

	#vision-fig img{
		width: 100%;
	}

	.story{
		width: 100%;
		height: 12vh;
	}


/*topic clicked*/

	.topicInfo-box{
		display: none;
		margin-bottom: auto;
	}


	.topicInfo-box h3{
		text-align: center;
		color: #666666
	}

	.topicInfo-box p{
		padding: 0 8%;
		text-align: center;
		line-height: 120%;
		color: #666666
	}

	.descriptionInfo-box{
		width: 100%;
		grid-column:1 / -1 ;
		background-color: #f0f0f0;
	}

	.showTopicH{
		animation-name: showInfoH3;
		animation-duration: 0.9s;
	}

	.showTopicP{
		animation-name: showInfoP;
		animation-duration: 0.9s;	
	}

	.descriptionInfo-box h3{
		font-size: 1.2rem;
	}

	.descriptionInfo-txt{
		font-size: 0.9rem;
		text-align: center;
	}

	.missionInfo-box h3, .visionInfo-box h3{
		font-size: 1rem;
		margin: 5% 0;
	}

	.missionInfo-txt, .visionInfo-txt{
		font-size: 0.7rem;
	}

	.storyInfo-box h3{
		font-size: 0.95rem;
		margin: 2% 0;
	}

	.storyInfo-txt{
		font-size: 0.65rem;
	}

@keyframes showInfoH3{
	from{margin-top: 18%;
			color: transparent;}
	to{}
}

@keyframes showInfoP{
	from{color: transparent;}
	to{}
}

	/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape) {

		.slogan-box{
			height: 33vh;
		}

		.slogan-box::before{
			height: 33vh;
			top: 108px;
		}

		.slogan-box i{
			font-size: 3rem;
		}

		.slogan-txt{
			font-size: 2.3rem;
		}

		.topic h3{
			display: none;
		}

		.topicInfo-box{
			display: block;
			grid-area: 1 / 2 / 3 / 3;
		}

		.topicInfo-box h3{
			display: block;
		}

		.description{
			height: 40vh;
		}

		#description-fig{
			height: 40.5vh;
			overflow: hidden;
		}

		#description-fig img{
			width: 102%;
		}

		.descriptionInfo-box{
			display: block;
			margin-bottom: auto;
		}

		.descriptionInfo-box h3{
			font-size: 1.8rem;
		}

		.descriptionInfo-txt{
			font-size: 1.6rem;
		}

		.mission{
			height: 37vh;
		}

		.vision{
			height: 37vh;
		}

		.topic i{
			display: none;
		}

		.fa-quote-left{
		align-self: start;
		margin-left: 32%
	}

	.fa-quote-right{
		align-self: end;
		margin-right: 32%;
	}

	}
</style>

<script type="text/javascript">

	// show description
	const description = document.querySelector(".description"),
	 descriptionH = document.querySelector(".description-h"),
	 descripEye = document.querySelector(".description i"),
	 descripFig = document.querySelector(".description figure"),
	 descriptionInfo = document.querySelector(".descriptionInfo-box"),
	 descriptionInfoH = document.querySelector(".descriptionInfo-box h3"),
	 descriptionInfoP = document.querySelector(".descriptionInfo-txt");
	
	
	description.addEventListener("touchstart", openDescrip);

	let descripIsOpen = false;

	function openDescrip(){
		if(!descripIsOpen){
			descriptionH.style.display = "none";
			descripEye.style.display = "none";
			descripFig.style.display = "none";
			descriptionInfo.style.display = "block";
			descriptionInfoH.classList.add("showTopicH");
			descriptionInfoP.classList.add("showTopicP");

			descripIsOpen = !descripIsOpen;
		} else {
			descriptionH.style.display = "block";
			descripEye.style.display = "block";
			descripFig.style.display = "block";
			descriptionInfo.style.display = "none";
			descriptionInfoH.classList.remove("showTopicH");
			descriptionInfoP.classList.remove("showTopicP");
			descripIsOpen = !descripIsOpen;
		}
	}


// show mission
	const mission = document.querySelector(".mission"),
  missionH = document.querySelector(".mission h3"),
  missionEye = document.querySelector(".mission i"),
  missionFig = document.querySelector(".mission figure"),
  missionInfo = document.querySelector(".missionInfo-box"),
  missionInfoH = document.querySelector(".missionInfo-box h3"),
  missionInfoP = document.querySelector(".missionInfo-box p");

mission.addEventListener("touchstart", openMission);

  let missionIsOpen = false;

function openMission(){
		if(!missionIsOpen){
			missionH.style.display = "none";
			missionEye.style.display = "none";
			missionFig.style.display = "none";
			missionInfo.style.display = "block";
			missionInfoH.classList.add("showTopicH");
			missionInfoP.classList.add("showTopicP");

			missionIsOpen = !missionIsOpen;
		} else {
			missionH.style.display = "block";
			missionEye.style.display = "block";
			missionFig.style.display = "block";
			missionInfo.style.display = "none";
			missionInfoH.classList.remove("showTopicH");
			missionInfoP.classList.remove("showTopicP");
			missionIsOpen = !missionIsOpen;
		}
	}

// show vision
	const vision = document.querySelector(".vision"),
  visionH = document.querySelector(".vision h3"),
  visionEye = document.querySelector(".vision i"),
  visionFig = document.querySelector(".vision figure"),
  visionInfo = document.querySelector(".visionInfo-box"),
  visionInfoH = document.querySelector(".visionInfo-box h3"),
  visionInfoP = document.querySelector(".visionInfo-box p");

vision.addEventListener("touchstart", openvision);

  let visionIsOpen = false;

function openvision(){
		if(!visionIsOpen){
			visionH.style.display = "none";
			visionEye.style.display = "none";
			visionFig.style.display = "none";
			visionInfo.style.display = "block";
			visionInfoH.classList.add("showTopicH");
			visionInfoP.classList.add("showTopicP");

			visionIsOpen = !visionIsOpen;
		} else {
			visionH.style.display = "block";
			visionEye.style.display = "block";
			visionFig.style.display = "block";
			visionInfo.style.display = "none";
			visionInfoH.classList.remove("showTopicH");
			visionInfoP.classList.remove("showTopicP");
			visionIsOpen = !visionIsOpen;
		}
	}

// show story
	const story = document.querySelector(".story"),
  storyH = document.querySelector(".story h3"),
  storyEye = document.querySelector(".story i"),
  storyInfo = document.querySelector(".storyInfo-box"),
  storyInfoH = document.querySelector(".storyInfo-box h3"),
  storyInfoP = document.querySelector(".storyInfo-box p");

story.addEventListener("touchstart", openstory);

  let storyIsOpen = false;

function openstory(){
		if(!storyIsOpen){
			story.style.height = "25vh";
			storyH.style.display = "none";
			storyEye.style.display = "none";
			storyInfo.style.display = "block";
			storyInfoH.classList.add("showTopicH");
			storyInfoP.classList.add("showTopicP");

			storyIsOpen = !storyIsOpen;
		} else {
			story.style.height = "12vh";
			storyH.style.display = "block";
			storyEye.style.display = "block";
			storyInfo.style.display = "none";
			storyInfoH.classList.remove("showTopicH");
			storyInfoP.classList.remove("showTopicP");
			storyIsOpen = !storyIsOpen;
		}
	}


</script>
