---
---
<article id="brandInfo-box">
	<section class="topic">
		<p class="bigTxt">Misión</p>
		<p id="missionP" class="weTxtHidden">Enviar los aguacates de mejor calidad garantizando los estándares más altos de BPA (Buenas prácticas Agrícolas) y BPM (Buenas Prácticas de Manufactura)</p>
		<i class="fa-solid fa-circle-chevron-down"></i>
	</section>
	<section class="topic">
		<p class="bigTxt">Visión</p>
		<p id="visionP" class="weTxtHidden">Ser el principal proveedor de aguacate del mundo</p>
		<i class="fa-solid fa-circle-chevron-down"></i>
	</section>
	<section class="topic">
		<p class="bigTxt">Historia</p>
		<p id="storyP" class="weTxtHidden">Además, a partir de mayo de 2015, Corporativo La Viña estableció un centro de dAdemás, a partir de mayo de 2015, Corporativo La Viña estableció un centro de distribución en San Salvador Huixcolotla, Puebla, beneficiando la logística de sus clientes del centro y sureste de México, con instalaciones de primer nivel ofertando diferentes productos. demás, a partir de mayo de 2015, Corporativo La Viña estableció un centro de distribución en San Salvador Huixcolotla, Puebla, beneficiando la logística de sus clientes del centro y sureste de México, con instalaciones de primer nivel ofertando diferentes productos.</p>
		<i class="fa-solid fa-circle-chevron-down"></i>
	</section>
	
	
</article>

<style type="text/css">

	#brandInfo-box{
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5px 0;
	}

	.topic{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 5px;
		border-bottom: 1px solid #D8D8D8;
		filter: brightness(0.9);
	}

	.topic:nth-of-type(1){
		background-image: url("https://images.unsplash.com/photo-1561781248-7dcf1de69caa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
		background-size: cover;
		background-position: center;

	}

	.topic:nth-of-type(2){
		background-image: url("https://images.unsplash.com/photo-1588137378633-dea1336ce1e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
		background-size: cover;
		background-position: center;

	}


	.topic:nth-of-type(3){
		background-image: url("https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
		background-size: cover;
		background-position: center;
		

	}

	.bigTxt{
		font-size: 1.7rem;
		font-weight: bold;
		align-self: start;
		margin-left: 10%;
	}

	.weTxtHidden{
		display: block;
		background-color: rgba(143,241,101,90%);
		font-size: clamp(1rem, 1vw, 1rem);
		margin: 0 5%;
		border-radius: 7px;
		text-align: center;
		height: 0;
		overflow: hidden;
		transition: 1s;
	}

	.weTxtShow-mission, .weTxtShow-vision{
		padding: 8% 3%;

	}
	.weTxtShow-mission{
		height: 78px;
	}

	.weTxtShow-vision{
		height: 40px;		
	}

	.weTxtShow-story{
		height: 300px;
		padding: 10% 3%;
	}

	article i {
		font-size: 2rem;
		color: #8FF165;
		transition: 1s;
	}

	.arrowUp{
		transform: rotate(0.5turn);
		color: unset;

	}


	/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape) {

		#brandInfo-box{
			flex-flow: row ;
		}

		.topic i{
			display: none;
		}

		.topic{
			height: 30vh;
			width: 34%;
		}
	}
</style>

<script type="text/javascript">
	const arrowBtns = document.querySelectorAll(".fa-circle-chevron-down");
	const descriptions = document.querySelectorAll(".weTxtHidden");
	const last = document.querySelector(".storyP");
	console.log(descriptions);

	let openTxt = false;
	for(i = 0; i < arrowBtns.length; i++){
		arrowBtns[i].addEventListener("touchstart", function (e) {
			// open text
			if(!openTxt){
				if(e.target === arrowBtns[0]){
					descriptions[0].classList.add("weTxtShow-mission");
					arrowBtns[0].classList.add("arrowUp");
				} else if(e.target === arrowBtns[1]){
						descriptions[1].classList.add("weTxtShow-vision");
						arrowBtns[1].classList.add("arrowUp");
					} else if(e.target === arrowBtns[2]) {
						descriptions[2].classList.add("weTxtShow-story");
						arrowBtns[2].classList.add("arrowUp");
						}
				openTxt = !openTxt;
			}
			 // close text 
			else{
				if(e.target === arrowBtns[0]){				
					descriptions[0].classList.remove("weTxtShow-mission");
					arrowBtns[0].classList.remove("arrowUp");
				} else if(e.target === arrowBtns[1]){
						descriptions[1].classList.remove("weTxtShow-vision");
						arrowBtns[1].classList.remove("arrowUp");
					} else if(e.target === arrowBtns[2]) {
						descriptions[2].classList.remove("weTxtShow-story");
						arrowBtns[2].classList.remove("arrowUp");
						}
				openTxt = !openTxt;
			}
			
				
			
		})
	}
	


</script>
