---
import Sitemap from "./Sitemap.astro"
import Clients from "./Clients.astro"
---

<footer>
	<img src="https://avocado.com.au/wp-content/uploads/2020/10/avocado-logo-yoast-seo-1.png">
	<Sitemap />
	<Clients />
	<p>Avocados S.A de C.V</p>
	<p id="rightsRes">© 2023 Avocados. All Rights Reserved.</p>
</footer>

<style>
	footer {
		height: auto;
		background-color: rgba(240,240,240,100%);
		padding: 10px 10px;
	}

	footer * {
		text-align: center;
		font-size: 0.8rem;
	}
	
	footer img{
		width: 30%;
		max-width: 100px;
		margin-left: 10%;
	}


</style>