<footer>
	<img src="https://avocado.com.au/wp-content/uploads/2020/10/avocado-logo-yoast-seo-1.png">
	<section id="address-box">
		<p>Avocados S.A de C.V</p>
		<p>Camino a Santa Rosa NORTE 650</p>
		<p>Col. Santa Rosa</p>
		<p>uruapan, Mich</p>
		<p>C. P. 60000</p>
		<p>Tel: 452-121-6744</p>
		<p>e-mail: rh@avocados.com</p>
	</section>
	<p id="rightsRes">© 2023 Avocados. All Rights Reserved.</p>
</footer>

<style>
	footer {
		height: auto;
		background-color: blue;
		padding: 10px 10px;
	}
	
	footer img{
		width: 23%;
	}

	#address-box{
		font-size: 0.7rem;
	}

	#rightsRes{
		font-size: 0.7rem;		
	}
</style>