<footer>
	<img src="https://avocado.com.au/wp-content/uploads/2020/10/avocado-logo-yoast-seo-1.png">
	<section>
		
	</section>
</footer>

<style>
	footer {
		height: 60px;
		background-color: blue;
	}
	
	footer img{
		width: 23%;
	}
</style>