<article id="product-article1">
	<figure id="avocado-animated">
		<img alt="hass avocado" src="https://cdn-icons-png.flaticon.com/512/1894/1894185.png" />
	</figure>
	<ul class="avoDataList">
		<li><h3>Por cada 100 g</h3></li>
		<li>Calorías <br>
			<span id="calories" class="nutrients-n">160 kcal</span>
		</li>
		<li>Grasas totales <br>
			<span id="fat" class="nutrients-n">15 g</span>
		</li>
		<li>Colesterol <br>
			<span id="cholesterol" class="nutrients-n">0 mg</span>
		</li>
		<li>Sodio <br>
			<span id="sodium" class="nutrients-n">15 g</span>
		</li>
		<li>Potasio <br>
			<span id="potassium" class="nutrients-n">485 mg</span>
		</li>
		<li>Hidratos de carbono <br>
			<span id="carbs" class="nutrients-n">9 g</span>
		</li>
		<li>Proteínas <br>
			<span id="proteins" class="nutrients-n">2 g</span>
		</li>
	</ul>
	<p class="avoDataP">Por su alto contenido nutricional, consumir por lo menos, medio aguacate al día mejorará tu salud y la de tu familia. <br><br>
	El aguacate impulsa el crecimiento y reparación de la masa muscular, muchos deportistas lo consumen frecuentemente. <br><br>
	Tiene un alto aporte de proteína, zinc y tiene dos veces más potasio que el plátano. <br><br>
	Ayudan a la pérdida de peso corporal.</p>
</article>
<h1 id="num"></h1>

<style type="text/css">
	
	#product-article1{
		display: flex;
		flex-flow: row wrap;
		background: #0D0D0D;
		height: 100vh;
	}

	#product-article1 figure{
		width: 40%;
		max-width: 200px;
		margin: auto;
/*		margin-top: 25%;*/
		animation-name: clickAvocado;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-delay: 2s;
	}

	#product-article1 figure img{
		width: 100%;
	}

	.avoDataList{
		font-size: clamp(0.8rem, 1.2vw, 1rem);
		background-color: linear-gradient(45deg, black, green);
		color: white;
		width: 0;
		overflow: hidden;
		padding: 0;
		transition: 0.5s;
	}

	.showListData{
		width: 38%;
		margin: 6% 0;
		margin-right: 4%;
	}

	.avoDataList li{
		font-weight: bold;
		list-style: none;
		margin: 6% 0;
	}

	.avoDataList li span{
		font-weight: 400;
	}

	li h3{
		font-size: 1rem;
		margin: 0;
	}

	.avoDataP{
		width: 100%;
		height: 0;
		margin: 0 6%;
		overflow: hidden;
		text-align: center;
		font-size: clamp(0.8rem, 1.5vw, 1.4rem);
		font-weight: 400;
		background-color: #B0F98E;
		border-radius: 7px;
		transition: 0.5s;
		margin-top: -28%;
	}

	.showPData {
		height: 170px;
		padding: 5%;
	}

	@keyframes clickAvocado{
		0%{width: 40%;}
		25%{width: 44%;}
		50%{width: 40%;}
	}


/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape){
			
		#product-article1{
			flex-wrap: nowrap;
			background-color: rgba(180, 180, 180, 100%);
			align-items: center;
			padding: 5%;
		}

		.avoDataList{
			width: auto;
			margin: 0;
		}

		.avoDataP{
			width: 30%;
			height: auto;
			padding: 2% 2%;
		}
	}

</style>

<script type="text/javascript">

	const nutrientsN = document.querySelectorAll(".nutrients-n");
	const avoDataP = document.querySelector(".avoDataP");
//Set calories number


		function triggerAvoData(){
		avoData();

		let countKcal = 0;
		function addKcal(){
		countKcal += 5;
		nutrientsN[0].innerText = countKcal + " kcal";
		if (countKcal === 160) {
			stopKcal();
		}
	}
		const setKcal = setInterval(addKcal, 10);

	function stopKcal(){
		clearInterval(setKcal);
	}

// setFats
		let countFats = 0;
	function addFats(){
		countFats += 1;
		nutrientsN[1].innerText = countFats + " g";
		if (countFats === 15) {
			stopFats();
		}
	}
		const setFats = setInterval(addFats, 20);
	function stopFats(){
		clearInterval(setFats);
	}

	// setSodium
	let countSodium = 0;
	function addSodium(){
		countSodium += 1;
		nutrientsN[3].innerText = countSodium + " g";
		if (countSodium === 15) {
			stopSodium();
		}
	}
	const setSodium = setInterval(addSodium, 20);

	function stopSodium(){
		clearInterval(setSodium);
	}

	// setPotassium
	let countPotassium = 0;
	function addPotassium(){
		countPotassium += 5;
		nutrientsN[4].innerText = countPotassium + " mg";
		if (countPotassium === 485) {
			stopPotassium();
		}
	}
	const setPotassium = setInterval(addPotassium, 10);

	function stopPotassium(){
		clearInterval(setPotassium);
	}

	// setCarbs
	let countCarbs = 0;
	function addCarbs(){
		countCarbs += 1;
		nutrientsN[5].innerText = countCarbs + " g";
		if (countCarbs === 9) {
			stopCarbs();
		}
	}
	const setCarbs = setInterval(addCarbs, 20);

	function stopCarbs(){
		clearInterval(setCarbs);
	}

	// setProteins
	let countProteins = 0;
	function addProteins(){
		countProteins += 1;
		nutrientsN[6].innerText = countProteins + " g";
		if (countProteins === 2) {
			stopProteins();
		}
	}
	const setProteins = setInterval(addProteins, 20);

	function stopProteins(){
		clearInterval(setProteins);
	}
		}
	

// show avocado benefits
	const avo = document.querySelector("#avocado-animated");
	const nutrientsData = document.querySelector(".avoDataList");
	avo.addEventListener("touchstart", triggerAvoData);

	let showDataList = false;
	function avoData(){
		if(!showDataList){
		nutrientsData.classList.add("showListData");
		showDataList = !showDataList;
		} else {
			nutrientsData.classList.remove("showListData");
					showDataList = !showDataList;
		}

		function showDataP(){
			console.log(showDataList);
			if(showDataList){
			avoDataP.classList.add("showPData");
			} else {
				avoDataP.classList.remove("showPData");			
			}
		}
			showDataP();
	}






</script>