
<header>
		<nav class="nav-touch-box">
			<!-- menu icon -->
			<ul id="menu-icon">
				<li></li>
				<li></li>
				<li></li>				
			</ul>
			<section class="nav-touch-menu">
				<a href="/nosotros/" id="a-nosotros">
					<span>Nosotros</span>
				</a>
				<!-- <a href="_blank" id="a-producto">
					<span>Producto</span>
				</a>
				<a href="_blank" id="a-artículos">
					<span>Artículos</span>
				</a>
				<a href="_blank" id="a-clientes">
					<span>Clientes</span>
				</a>
				<a href="_blank" id="a-contacto">
					<span>Contacto</span>
				</a> -->
			</section>

		</nav>
		<!-- <nav id="nav-cursor">
			<a></a>
		</nav> -->
</header>

<style type="text/css">

	.nav-touch-box{
		position: absolute;
		top: 0;
		right: 0;
		background-color: #0D0D0D;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		gap: 9px;
		height: 55px;
		width: 60px;
/*		max-height: 25px;*/
		padding: 1% 0;
		z-index: 1;
		border-radius: 8% 0 10% 59%;
		transition: 0.5s;
	}

	#menu-icon{
		position: absolute;
/*		top: ;*/
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: none;
    padding: 0;
/*    z-index: 2;*/

		}


	.nav-touch-box ul li {
		width: 20px;
		height: 2px;
		background-color: ghostwhite;
	}

	.nav-touch-open{
		height: 100%;
		width: 100%;
		border-radius: 0;
	}

	.nav-touch-menu {
	  display: none;
    flex-flow: column;
		width: 100%;
    justify-content: center;
    align-items: center;
		margin-top: 20px;

	}

	.nav-touch-menu a {
		display: inline-block;
		width: 100%;
		padding: 12% 0;
		text-align: center;

	}

	.nav-touch-menu a span{
		font-size: 1.2rem;
		font-weight: bold;
		color: ghostwhite;
	}

	/*#nav-cursor{
		background-color: rgba(88,34,8,100%);
		height: 64px;
	}*/
</style>


<!-- Bugs
				the thing render first that the animation -->

<script type="text/javascript">
	const navBox = document.querySelector(".nav-touch-box");
	const menuIcon = document.querySelector("#menu-icon"); 
	const navMenu = document.querySelector(".nav-touch-menu");

	// Menu phone View 
	let menuOpen = false;

	menuIcon.addEventListener("touchstart", dropDown);


	function dropDown() {
	console.log(menuOpen);
  	menuOpen = !menuOpen;
		if(menuOpen) {
			console.log("open!");
		navBox.classList.add("nav-touch-open");
		navMenu.style.display = "flex";
		menuIcon.style.marginLeft = '83%';
		// menuOpen = !menuOpen;
		} else {
				console.log("closed!");
				navMenu.style.display = "none";
				navBox.classList.remove("nav-touch-open");
				menuIcon.style.marginLeft = '0';
		}
	}

</script>