<header>
		<a>Menu</a>
</header>

<style type="text/css">
	header{
		background-color: transparent;
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 5vh;
		max-height: 25px;
		padding: 1% 0;

	}

	header a {
		font-size: clamp(0.8rem, 1vw, 1.1rem);
	}

	header a img{
		align-self: center;
		width: 100%;
	}

	#a-img{
		width: 24%;
		max-width: 80px;
	}

	@media (min-width: 900px) {
		#a-img{
			max-width: 130px;
		}

	}
</style>