<header>
		<nav class="nav-touch-box nav-touch-open	">
			<!-- menu icon -->
			<ul id="menu-icon">
				<li></li>
				<li></li>
				<li></li>				
			</ul>
			<section class="nav-touch-menu">
				<a><span id="a-nosotros">Nosotros</span></a>
				<a><span id="a-producto">Producto</span></a>
				<a><span id="a-artículos">Artículos</span></a>
				<a><span id="a-clientes">Clientes</span></a>
				<a><span id="a-contacto">Contacto</span></a>
			</section>

		</nav>
		<!-- <nav id="nav-cursor">
			<a></a>
		</nav> -->
</header>

<style type="text/css">

	.nav-touch-box{
		position: absolute;
		top: 0;
		right: 0;
		background-color: rgba(88,34,8,100%);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		gap: 9px;
		height: 55px;
		width: 60px;
/*		max-height: 25px;*/
		padding: 1% 0;
		z-index: 1;
		border-radius: 8% 0 10% 59%;

	}

	nav ul{
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: none;
    padding: 0;
    align-items: center;
		}


	.nav-touch-box ul li {
		width: 20px;
		height: 2px;
		background-color: ghostwhite;
	}

	.nav-touch-open{
		height: 100%;
		width: 100%;
		border-radius: 0;
	}

	.nav-touch-menu {
	  display: flex;
    flex-flow: column;
		width: 100%;
    justify-content: center;
    align-items: center;
		margin-top: 20px;

	}

	.nav-touch-menu a {
		display: inline-block;
		width: 100%;
		padding: 12% 0;
		border: 1px solid black;
		background-color: ghostwhite;
		text-align: center;

	}

	/*#nav-cursor{
		background-color: rgba(88,34,8,100%);
		height: 64px;
	}*/
</style>

<!-- Bugs
				the thing render first that the animation -->