<header>
		<div></div>
		<div></div>
		<div></div>
</header>

<style type="text/css">
	header{
		position: absolute;
		top: 0;
		right: 0;
		background-color: rgba(88,34,8,100%);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 9px;
		height: 64px;
		width: 78px;
/*		max-height: 25px;*/
		padding: 1% 0;
		z-index: 1;
		border-radius: 8% 0 10% 59%;

	}


	header div {
		width: 20px;
		height: 2px;
		background-color: ghostwhite;
	}
</style>