---
const { pageName } = Astro.props
---
<div class="pageH-box">
	<img alt="logo" class="logo-backHome" src="https://avocado.com.au/wp-content/uploads/2020/10/avocado-logo-yoast-seo-1.png">	
	<h1 id="pageH">{pageName}</h1>
</div>
<style type="text/css">

	.pageH-box{
		margin: 29px 0;
	}

	.logo-backHome{
		position: absolute;
		top: 26px;
		left: 5%;
		height: 30px;
	}

	#pageH{
		font-size: clamp(1.1rem, 1.1vw, 1.4rem);
		text-align: center;
/*		background-color: transparent;*/
	}	

	/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape) {

		.pageH-box{
			margin-top: 68px;
	    margin-bottom: 0;
		}

		.logo-backHome{
			display: none;
		}
	}
</style>