---
const { recipeName } = Astro.props
---

<article id="receta-box">
	<span>{recipeName}</span>
</article>

<style>
	#receta-box{
		box-sizing: border-box;
		width: 80%;
		height: 10vh;
		background-image: url("https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2020/01/helado-de-aguacate-sin-maquina.jpg");
		background-position: center;
		background-size: cover;
		margin: 0 auto;
		padding: 10px 20px;

	}

	#receta-box span{
		font-size: 1.5rem;
	}
</style>