---
import groupIcon from "../../public/group.svg";
---

<section id="recipes">
  <article class="recipe guacamole">
    <img
      src="https://www.giallozafferano.com/images/255-25549/Guacamole_1200x800.jpg"
      class="recipe-img"
    />
    <h2>Guacamole</h2>
    <div class="recipe-details">
      <div class="recipe-insights">
        <div class="servings">
          <img src={groupIcon} alt="people" class="groupIcon" />
          <span>4</span>
        </div>
        <div class="recipe-time">
          <i class="fa-regular fa-clock"></i>
          <span>15 min</span>
        </div>
      </div>
      <div class="recipe-main">
        <span class="ingredients-span">Ingredientes</span>
        <ul class="ingredients-list">
          <li>3 aguacates</li>
          <li>1/2 taza de tomate picado</li>
          <li>1/2 taza de cebolla picada</li>
          <li>3 cucharadas de cilantro picado</li>
          <li>1 jalapeño picado</li>
          <li>1 limón</li>
          <li>1 cucharada de sal</li>
        </ul>
        <span class="steps-span">Pasos</span>
        <ul class="steps-list">
          <li>
            Paso 1 <br />
            Aplasta el aguacate junto al jugo de limón y la sal en un recipiente
            mediano.
          </li><br />
          <li>
            Paso 2 <br />
            Añade los vegetales picados y mézclalos
          </li>
        </ul>
      </div>
    </div>
    <i class="fa-solid fa-chevron-down"></i>
  </article>
  <article class="recipe avoBreakFast">
    <img
      src="https://images.unsplash.com/photo-1544378828-5a7e2e02c2fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1092&q=80"
      class="recipe-img"
    />
    <h2>Desayuno de aguacate</h2>
    <div class="recipe-details">
      <div class="recipe-insights">
        <div class="servings">
          <img src={groupIcon} alt="people" class="groupIcon" />
          <span>2</span>
        </div>
        <div class="recipe-time">
          <i class="fa-regular fa-clock"></i>
          <span>25 min</span>
        </div>
      </div>
      <div class="recipe-main">
        <span class="ingredients-span">Ingredientes</span>
        <ul class="ingredients-list">
          <li>1/2 taza de agua</li>
          <li>1/4 taza de quinoa roja</li>
          <li>1 1/2 tazas de aceite de oliva</li>
          <li>2 huevos</li>
          <li>1 pizca de sal y pimienta negra molida</li>
          <li>1 aguacate picado</li>
          <li>2 cucharadas de queso feta en migajas</li>
        </ul>
        <span class="steps-span">Pasos</span>
        <ul class="steps-list">
          <li>
            Paso 1 <br />
            Pon la quinoa en una olla con agua. Cocina hasta que la quinoa esté tierna,
            aproximadamente 15 minutos.
          </li><br />
          <li>
            Paso 2 <br />
            Caliente el aceite de oliva en una sartén a fuego medio y cocine los
            huevos al punto deseado; sazone con sal y pimienta sazonada.
          </li><br />
          <li>
            Paso 3 <br />
            Combina la quinoa y los huevos en un tazón; Cubre con aguacate y queso
            feta.
          </li>
        </ul>
      </div>
    </div>
    <i class="fa-solid fa-chevron-down"></i>
  </article>
  <article class="recipe avoTapas">
    <img
      src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F9021591.jpg&q=60&c=sc&orient=true&poi=auto&h=512"
      class="recipe-img"
    />
    <h2>Tapas de aguacate con atún</h2>
    <div class="recipe-details">
      <div class="recipe-insights">
        <div class="servings">
          <img src={groupIcon} alt="people" class="groupIcon" />
          <span>4</span>
        </div>
        <div class="recipe-time">
          <i class="fa-regular fa-clock"></i>
          <span>20 min</span>
        </div>
      </div>
      <div class="recipe-main">
        <span class="ingredients-span">Ingredientes</span>
        <ul class="ingredients-list">
          <li>1 lata (12 onzas) de atún en agua</li>
          <li>1 cucharada de mayonesa</li>
          <li>3 cebollas cortadas en rodajas y una pequeña cantidad picada</li>
          <li>1/2 pimiento rojo picado</li>
          <li>1 cucharada de vinagre balsámico</li>
          <li>Pimienta negra al gusto</li>
          <li>1 pizca de sal de ajo</li>
          <li>1 aguacate cortado a la mitad sin hueso</li>
        </ul>
        <span class="steps-span">Pasos</span>
        <ul class="steps-list">
          <li>
            Paso 1 <br />
            Mezcla el atún, la mayonesa, las cebollas, el pimiento rojo y el vinagre
            balsámico en un tazón. Sazone con pimienta y sal de ajo, luego pon la
            mezcla de atún sobre las mitades de aguacate. Adorne con cebolla picada
            y una pizca de pimienta negra antes de servir.
          </li>
        </ul>
      </div>
    </div>
    <i class="fa-solid fa-chevron-down"></i>
  </article>
  <article class="recipe avoStrawb">
    <img
      src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F8967857.jpg&q=60&c=sc&orient=true&poi=auto&h=512"
      class="recipe-img"
    />
    <h2>Ensalada de aguacate y fresa</h2>
    <div class="recipe-details">
      <div class="recipe-insights">
        <div class="servings">
          <img src={groupIcon} alt="people" class="groupIcon" />
          <span>2</span>
        </div>
        <div class="recipe-time">
          <i class="fa-regular fa-clock"></i>
          <span>15 min</span>
        </div>
      </div>
      <div class="recipe-main">
        <span class="ingredients-span">Ingredientes</span>
        <ul class="ingredients-list">
          <li>2 cucharadas de azúcar</li>
          <li>2 cucharadas de aceite de oliva</li>
          <li>4 cucharadas de miel</li>
          <li>1 cucharada de vinagre de sidra</li>
          <li>1 cucharada de jugo de limón</li>
          <li>2 tazas de ensalada hojas verdes rotas</li>
          <li>1 aguacate picado y en rodajas</li>
          <li>10 fresas en rebanadas</li>
          <li>1/2 taza de trozos de nuez</li>
        </ul>
        <span class="steps-span">Pasos</span>
        <ul class="steps-list">
          <li>
            Paso 1 <br />
            Para el aderezo: En un recipiente mezcla el azúcar, el aceite de oliva,
            la miel, el vinagre y el jugo de limón.
          </li><br />
          <li>
            Paso 2 <br />
            Coloca las verduras de ensalada en un tazón y cubre con rodajas de aguacate
            y fresas. Vierte el aderezo sobre todo, luego añade las nueces. Refrigera
            2 horas antes de servir, o sirve inmediatamente.
          </li>
        </ul>
      </div>
    </div>
    <i class="fa-solid fa-chevron-down"></i>
  </article>
</section>

<style>
  #recipes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #fcfcfc;
    gap: 45px;
    margin-bottom: 10%;
  }

  .recipe {
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: hidden;
    padding-bottom: 5%;
    border: 2px solid #afafaf;
    border-radius: 5px;
  }

  .recipe-main {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: 1s;
  }

  .showGuacamole {
    height: 530px;
  }

  .showAvoBreakFast {
    height: 840px;
  }

  .showAvoTapas {
    height: 750px;
  }

  .showAvoStrawb {
    height: 870px;
  }

  .recipe-img {
    width: 100%;
    border-radius: 2.5px;
  }

  .recipe h2 {
    font-size: clamp(1.2rem, 1.4vw, 1.6rem);
    padding: 0 4%;
    text-align: center;
  }

  .recipe-details {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .recipe-details img {
    width: 15px;
  }

  .recipe-insights {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin: 4% 0;
    margin-left: 10px;
  }

  .fa-clock {
    color: #afafaf;
  }

  .ingredients-span,
  .steps-span {
    font-size: clamp(1rem, 1.4vw, 1.4rem);
    font-weight: bold;
    text-align: center;
  }

  .steps-list,
  .ingredients-list {
    padding: 0 12%;
    line-height: 133%;
    font-size: clamp(1rem, 1.4vw, 1.4rem);
  }

  .ingredients-list {
    margin-left: 10%;
  }

  .steps-list {
    list-style: none;
    text-align: center;
  }

  .recipe i {
    align-self: center;
    transition: 1s;
  }

  .invertChevron {
    transform: rotate(180deg);
  }

/*Tablets*/
  @media (min-width: 714) and (orientation: portrait) {

  }

  /*laptop up*/
  @media (min-width: 1024px) and (orientation: landscape) {
    .recipe {
      width: 35%;
      height: 630px;
      padding-bottom: 3%;
      transition: 1s;
    }

    .showAvoBreakFast {
      height: 880px;
    }

    .showRecipe1 {
      height: 120vh;
    }

    .showRecipe2 {
      height: 165vh;
    }

    .showRecipe3 {
      height: 144vh;
    }

    .showRecipe4 {
      height: 155vh;
    }

    .recipe-img {
      height: 450px;
    }

    .recipe-details img {
      width: 40px;
    }

    .recipe-insights {
      font-size: 1.2rem;
      align-items: center;
    }

    .servings {
      display: flex;
      align-items: center;
    }

    .steps-list,
    .ingredients-list {
      margin: 0 auto;
    }

    .ingredients-list {
      margin-left: 17%;
    }

    .recipe-main {
      gap: 4%;
    }

    .recipe i {
      font-size: 1.7rem;
      cursor: pointer;
    }

    .showGuacamole {
      height: 550px;
    }
  }
</style>

<script>
  const openRecipeArrow = document.querySelectorAll(".fa-chevron-down");
  const recipeMain = document.querySelectorAll(".recipe-main");

  const recipeBox = document.querySelectorAll(".recipe");

  let open1 = false;
  let open2 = false;
  let open3 = false;
  let open4 = false;
  for (let i = 0; i < openRecipeArrow.length; i++) {
    openRecipeArrow[i].addEventListener("click", openRecipe);
  }

  function openRecipe(e) {
    // open 1st recipe
    if (e.target === openRecipeArrow[0] && !open1) {
      recipeMain[0].classList.add("showGuacamole");
      openRecipeArrow[0].classList.add("invertChevron");
      recipeBox[0].classList.add("showRecipe1");
      open1 = !open1;
    } else if (e.target === openRecipeArrow[0] && open1) {
      recipeMain[0].classList.remove("showGuacamole");
      openRecipeArrow[0].classList.remove("invertChevron");
      recipeBox[0].classList.remove("showRecipe1");
      open1 = !open1;

      // open 2nd recipe
    } else if (e.target === openRecipeArrow[1] && !open2) {
      recipeMain[1].classList.add("showAvoBreakFast");
      openRecipeArrow[1].classList.add("invertChevron");
      recipeBox[1].classList.add("showRecipe2");
      open2 = !open2;
    } else if (e.target === openRecipeArrow[1] && open2) {
      recipeMain[1].classList.remove("showAvoBreakFast");
      openRecipeArrow[1].classList.remove("invertChevron");
      recipeBox[1].classList.remove("showRecipe2");
      open2 = !open2;
    } // open 3rd recipe
    else if (e.target === openRecipeArrow[2] && !open3) {
      recipeMain[2].classList.add("showAvoTapas");
      openRecipeArrow[2].classList.add("invertChevron");
      recipeBox[2].classList.add("showRecipe3");
      open3 = !open3;
    } else if (e.target === openRecipeArrow[2] && open3) {
      recipeMain[2].classList.remove("showAvoTapas");
      openRecipeArrow[2].classList.remove("invertChevron");
      recipeBox[2].classList.remove("showRecipe3");
      open3 = !open3;
    } // open 4th recipe
    else if (e.target === openRecipeArrow[3] && !open4) {
      recipeMain[3].classList.add("showAvoStrawb");
      openRecipeArrow[3].classList.add("invertChevron");
      recipeBox[3].classList.add("showRecipe4");
      open4 = !open4;
    } else if (e.target === openRecipeArrow[3] && open4) {
      recipeMain[3].classList.remove("showAvoStrawb");
      openRecipeArrow[3].classList.remove("invertChevron");
      recipeBox[3].classList.remove("showRecipe4");
      open4 = !open4;
    }
  }
</script>
