---
---

<h2 id="sitemap-h">Mapa del sitio</h2>
<ul id="siteList" class="siteMap-ul">
	<li><a href="/avocado/">Home</a></li>
	<i class="fa-regular fa-turn-down-right"></i>
	<ul class="siteMap-ul"><br>
		<li class="father-list"><a href="/avocado/nosotros/">Nosotros</a></li>
		<ul class="siteMap-ul child-list"><br>
			<li><a href="/avocado/nosotros/#about us">Sobre nosotros</a></li><br>
			<li><a href="/avocado/nosotros/#gallery">Galería<a/></li><br>
			<li><a href="/avocado/nosotros/#certifieds">Certificaciónes</a></li><br>
		</ul>
		<li class="father-list"><a href="/avocado/producto/">Producto</a></li>
		<ul class="siteMap-ul child-list"><br>
			<li><a href="/avocado/producto/">Beneficios del aguacate</a></li><br>
			<li><a href="/avocado/producto/#sizes">Calibres</a></li><br>
		</ul>
		<li class="father-list"><a href="/avocado/recetas/">Recetas</a></li>
	</ul>
	<li><a href="/avocado/#clientes">Clientes</a></li><br>
	<li><a href="/avocado/#findUs-box">Contáctanos</a></li><br>
</ul>

<style type="text/css">

	#sitemap-h{
		font-size: clamp(0.9rem, 1.5vw, 1.2rem);
	}

	#siteList{
		background-color: #E4FAD0;
		width: 90%;
		border-radius: 10px;
		padding: 4%;

	}

	li a{
		color: #0D0D0D;
		text-decoration: none;
	}

	li a:visited{
		color: #0D0D0D;	
	}


	/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape){ 

		#siteList{
			width: 62%;
		}

		ul img{
			width: 1.5%;
		}

		.father-list{
			margin: 30px 0;
		}

		.child-list{
			display: flex;
			gap: 4%;
		}

	}
</style>