---
---

<h2>Mapa del sitio</h2>
<ul id="siteList" class="siteMap-ul">
	<li><a href="/">Home</a></li>
	<i class="fa-regular fa-turn-down-right"></i>
	<ul class="siteMap-ul"><br>
		<li class="father-list"><a href="/nosotros/">Nosotros</a></li>
		<ul class="siteMap-ul child-list"><br>
			<!-- <img alt="turn down right icon" src="https://www.svgrepo.com/show/491339/arrow-turn-down-right.svg" /> -->
			<li><a href="/nosotros/#about us">Sobre nosotros</a></li><br>
			<li><a href="/nosotros/#gallery">Galería<a/></li><br>
			<li><a href="/nosotros/#certifieds">Certificaciónes</a></li><br>
			<li><a href="#clientes">Clientes</a></li><br>
			<li><a>Contáctanos</a></li><br>
		</ul>
		<li class="father-list"><a href="/producto/">Producto</a></li>
		<ul class="siteMap-ul child-list"><br>
			<li><a href="/producto/">Beneficios del aguacate</a></li><br>
			<li><a href="/producto/#sizes">Calibres</a></li><br>
		</ul>
		<li class="father-list"><a href="/recetas/">Recetas</a></li>
	</ul>
</ul>

<style type="text/css">

		#siteList{
			background-color: #E4FAD0;
			width: 90%;
			border-radius: 10px;
			padding: 4%;

		}

		li a{
			color: #0D0D0D;
		}

		li a:visited{
			color: #0D0D0D;	
		}


	/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape){ 

		#siteList{
			width: 62%;
		}

		ul img{
			width: 1.5%;
		}

		.father-list{
			margin: 30px 0;
		}

		.child-list{
			display: flex;
			gap: 4%;
		}

	}
</style>