
<section id="sizes-box">
	<h1>Calibres</h1>
	<ul id="countries">
		<li id="usa">USA <br>
		<i class="fa-solid fa-circle-chevron-down"></i></li>
		<li id="japon">Japón <br>
		<i class="fa-solid fa-circle-chevron-down"></i></li>
		<li id="canada">Canadá <br>
		<i class="fa-solid fa-circle-chevron-down"></i></li>
		<li id="maxico">México <br>
		<i class="fa-solid fa-circle-chevron-down"></i></li>
	</ul>
</section>

<style type="text/css">
	
	#sizes-box {
		width: 100%;
		margin-top: -20px;
	}

	#sizes-box h1{
		text-align: center;
	}

	#countries{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding: 0;
		gap: 100px;
	}

	#countries li {
		list-style: none;
		padding: 20px 40px;
		font-size: 1.5rem;
		font-weight: bold;
		border-radius: 7px;
		color: rgba(10, 10, 10, 70%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	li i {
/*		color:green	*/
	}
</style>