---
// import avocadoSize from "../../public/avocado-svgrepo-com.svg"
---

<a name="sizes"></a>
<section id="sizes-section">
	<p class="sizes-p">Selecciona un país para ver sus calibres</p>
	<section class="countiesContainer">
		<div class="country">
			<h2 class="country-h2">USA</h2>
			<table class="usaTb sizesTb">
				<tr>
					<th>Calibre</th>
					<th>Gramos</th>
				</tr>
				<tr>
					<td class="size1">32</td>
					<td>+330</td>
				</tr>
				<tr>
					<td class="size2">36</td>
					<td>300-330</td>
				</tr>
				<tr>
					<td class="size3">40</td>
					<td>265-300</td>
				</tr>
				<tr>
					<td class="size4">48</td>
					<td>205-265</td>
				</tr>
				<tr>
					<td class="size5">60</td>
					<td>170-205</td>
				</tr>
				<tr>
					<td class="size6">70</td>
					<td>150-170</td>
				</tr>
				<tr>
					<td class="size7">84</td>
					<td>120-150</td>
				</tr>
			</table><br>
			<i class="fa-solid fa-angle-up"></i>
		</div>
		<div class="country">
			<h2 class="country-h2">Japón</h2>
			<table class="japTb sizesTb">
				<tr>
				<th>Calibre</th>
				<th>Gramos</th>
				</tr>
				<tr>
					<td class="size1">18</td>
					<td>330-340</td>
				</tr>
				<tr>
					<td class="size2">20</td>
					<td>285-236</td>
				</tr>
				<tr>
					<td class="size3">24</td>
					<td>235-285</td>
				</tr>
				<tr>
					<td class="size4">30</td>
					<td>180-235</td>
				</tr>
				<tr>
					<td class="size5">35</td>
					<td>160-180</td>
				</tr>
			</table><br>
			<i class="fa-solid fa-angle-up"></i>
		</div>
		<div class="country">
			<h2 class="country-h2">Canadá</h2>
			<table class="canTb sizesTb">
				<tr>
					<th>Calibre</th>
					<th>Gramos</th>
				</tr>
				<tr>
					<td class="size1">12</td>
					<td>+330</td>
				</tr>
				<tr>
					<td class="size2">14</td>
					<td>300-330</td>
				</tr>
				<tr>
					<td class="size3">16</td>
					<td>265-300</td>
				</tr>
				<tr>
					<td class="size4">18</td>
					<td>205-265</td>
				</tr>
				<tr>
					<td class="size5">22</td>
					<td>170-205</td>
				</tr>
				<tr>
					<td class="size6">24</td>
					<td>150-170</td>
				</tr>
				<tr>
					<td class="size7">26</td>
					<td>120-150</td>
				</tr>
			</table><br>
			<i class="fa-solid fa-angle-up"></i>
		</div>
		<div class="country">
			<h2 class="country-h2">México</h2>
			<table class="mexTb sizesTb">
				<tr>
					<th>Calibre</th>
					<th>Gramos</th>
				</tr>
				<tr>
					<td class="size1">S. Extra</td>
					<td>+260</td>
				</tr>
				<tr>
					<td class="size2">Extra</td>
					<td>220-260</td>
				</tr>
				<tr>
					<td class="size3">Primera</td>
					<td>175-220</td>
				</tr>
				<tr>
					<td class="size4">Mediano</td>
					<td>145-220</td>
				</tr>
				<tr>
					<td class="size5">Tercera</td>
					<td>100-145</td>
				</tr>
			</table><br>
			<i class="fa-solid fa-angle-up"></i>
		</div>
	</section>
</section>

<style type="text/css">

	#sizes-section{
		background-color: rgba(30, 30,30,100%);
		padding: 4% 0;
	}

	.sizes-p{
		font-size: 0.9rem;
		color: #FCFCFC;
		text-align: center;
	}

	.countiesContainer{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 35px;
	}

	.country{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		width: 80%;
		height: 100px;
		overflow: hidden;
		border-radius: 5px;
		color: #FCFCFC;
		transition: 1s;
	}

	.country-h2{
		font-size: 1.3rem;
		text-align: center;
		margin: 40px 0;
	}

	.showTabUSA{
		height: 707px;
	}

	.showTabJap{
		height: 580px;
	}

	.sizesTb{
		background-color: #FCFCFC;
		width: 80%;
		padding: 4% 0;
		border-radius: 5px;
		color: black;

	}

	.sizesTb tr th{
		font-size: 0.9rem;
		text-align: center;
	}

	.sizesTb tr td{
		font-size: 1rem;
		text-align: center;
	}

	.sizesTb tr td:first-child{
		font-weight: bold;
	}

	.size1{
		padding: 12% 0;
		background-image: url("../../public/avocado-svgrepo-com.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

	}

	.size2{
		padding: 11.5% 0;
		background-image: url("../../public/avocado-svgrepo-com.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

	}

	.size3{
		padding: 10.5% 0;
		background-image: url("../../public/avocado-svgrepo-com.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

	}

	.size4{
		padding: 9.5% 0;
		background-image: url("../../public/avocado-svgrepo-com.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

	}

	.size5{
		padding: 8.5% 0;
		background-image: url("../../public/avocado-svgrepo-com.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

	}

	.size6{
		padding: 7.5% 0;
		background-image: url("../../public/avocado-svgrepo-com.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

	}

	.size7{
		padding: 6.5% 0;
		background-image: url("../../public/avocado-svgrepo-com.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

	}





	/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape){

		.sizes-p{
			display: none;
		}

		.country{
			width: 22%;
			height: auto;
		}

		.country i {
			display: none;
		}

	}
</style>

<script type="text/javascript">
	const countryh2 = document.querySelectorAll(".country-h2");
	const table = document.querySelectorAll(".sizesTb");
	const country = document.querySelectorAll(".country");
	const closeTab = document.querySelectorAll(".fa-angle-up")

	let usaSizes = false;
	let japSizes = false;
	let canSizes = false;
	let mexSizes = false;
	

	for(i = 0; i < 4; i++){
		countryh2[i].addEventListener("touchstart", function (e){
			// USA sizes
			if(e.target === countryh2[0] && !usaSizes){
				country[0].classList.add("showTabUSA");
				// table[0].classList.add("showSizesTb");
				usaSizes = !usaSizes;
			} else if(e.target === countryh2[0] && usaSizes){
					country[0].classList.remove("showTabUSA");
					// table[0].classList.remove("showSizesTb");
					usaSizes = !usaSizes;
				}

				// Japan sizes
			else if(e.target === countryh2[1] && !japSizes){
				country[1].classList.add("showTabJap");
				japSizes = !japSizes;
			} else if(e.target === countryh2[1] && japSizes){
					country[1].classList.remove("showTabJap");
					japSizes = !japSizes;
				}

				// Canada sizes
			else if(e.target === countryh2[2] && !canSizes){
				country[2].classList.add("showTabUSA");
				canSizes = !canSizes;
			} else if(e.target === countryh2[2] && canSizes){
					country[2].classList.remove("showTabUSA");
					canSizes = !canSizes;
				}

				// Mexico sizes
			else if(e.target === countryh2[3] && !mexSizes){
				country[3].classList.add("showTabJap");
				mexSizes = !mexSizes;
			} else if(e.target === countryh2[3] && mexSizes){
					country[3].classList.remove("showTabJap");
					mexSizes = !mexSizes;
				}
		});
	}

		for(i = 0; i < closeTab.length; i++){
			closeTab[i].addEventListener("touchstart", function (e) {

				// close USA sizes
				if(e.target === closeTab[0]){
					country[0].classList.remove("showTabUSA");
					// table[0].classList.remove("showSizesTb");
					usaSizes = !usaSizes;

					// close Japan sizes
				} else if(e.target === closeTab[1]){
					country[1].classList.remove("showTabJap");
					japSizes = !japSizes;

					// close Canada sizes
				}  else if(e.target === closeTab[2]){
					country[2].classList.remove("showTabUSA");
					canSizes = !canSizes;

					// close México
				}  else if(e.target === closeTab[3]){
					country[3].classList.remove("showTabJap");
					mexSizes = !mexSizes;
				} 


			});
		}

		
	
</script>