
<section id="sizes-box">
	<h1>Calibres</h1>
	<ul id="countries">
		<li id="usa">USA</li>
		<li id="japon">Japón</li>
		<li id="canada">Canadá</li>
		<li id="maxico">México</li>
	</ul>
</section>

<style type="text/css">
	
	#sizes-box {
		width: 96vw;
		margin-top: -20px;
	}

	#sizes-box h1{
		text-align: center;
	}

	#countries{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding: 0;
		gap: 100px;
	}

	#countries li {
		list-style: none;
		background-color: rgba(133,236,117,85%);
		padding: 20px 40px;
		font-size: 1.5rem;
		font-weight: bold;
		border-radius: 7px;
		color: rgba(10, 10, 10, 70%);
	}
</style>