
<section id="sizes-box">
	<h1>Calibres</h1>
	<ul id="countries">
		<li class="country usa">USA
			<div class="sizesTb-Box">
				<table class="usaSizesTb sizesTb">
					<tr>
						<th>Calibre</th>
						<th>Gramos</th>
					</tr>
					<tr>
						<td>32</td>
						<td>+330</td>
					</tr>
					<tr>
						<td>36</td>
						<td>300-330</td>
					</tr>
					<tr>
						<td>40</td>
						<td>265-300</td>
					</tr>
					<tr>
						<td>48</td>
						<td>205-265</td>
					</tr>
					<tr>
						<td>60</td>
						<td>170-205</td>
					</tr>
					<tr>
						<td>70</td>
						<td>150-170</td>
					</tr>
					<tr>
						<td>84</td>
						<td>120-150</td>
					</tr>
				</table>
			</div>
			
		</li>
		<li class="country japan">Japón
			<div class="sizesTb-Box">
				<table class="japSizesTb sizesTb">
					<tr>
					<th>Calibre</th>
					<th>Gramos</th>
					</tr>
					<tr>
						<td>18</td>
						<td>330-340</td>
					</tr>
					<tr>
						<td>20</td>
						<td>285-236</td>
					</tr>
					<tr>
						<td>24</td>
						<td>235-285</td>
					</tr>
					<tr>
						<td>30</td>
						<td>180-235</td>
					</tr>
					<tr>
						<td>35</td>
						<td>160-180</td>
					</tr>
				</table>
			</div>
			
		</li>
		<li class="country canada">Canadá
			<div class="sizesTb-Box">
				<table class="canSizesTb sizesTb">
					<tr>
						<th>Calibre</th>
						<th>Gramos</th>
					</tr>
					<tr>
						<td>12</td>
						<td>+330</td>
					</tr>
					<tr>
						<td>14</td>
						<td>300-330</td>
					</tr>
					<tr>
						<td>16</td>
						<td>265-300</td>
					</tr>
					<tr>
						<td>18</td>
						<td>205-265</td>
					</tr>
					<tr>
						<td>22</td>
						<td>170-205</td>
					</tr>
					<tr>
						<td>24</td>
						<td>150-170</td>
					</tr>
					<tr>
						<td>26</td>
						<td>120-150</td>
					</tr>
				</table>
			</div>
			</li>
		<li class="country maxico">México <br>
			<div class="sizesTb-Box">
				<table class="mexSizesTb sizesTb">
					<tr>
						<th>Calibre</th>
						<th>Gramos</th>
					</tr>
					<tr>
						<td>S. Extra</td>
						<td>+260</td>
					</tr>
					<tr>
						<td>Extra</td>
						<td>220-260</td>
					</tr>
					<tr>
						<td>Primera</td>
						<td>175-220</td>
					</tr>
					<tr>
						<td>Mediano</td>
						<td>145-220</td>
					</tr>
					<tr>
						<td>Tercera</td>
						<td>100-145</td>
					</tr>
				</table>
			</div>
			</li>
	</ul>
</section>

<style type="text/css">
	
	#sizes-box {
		width: 100%;
	}

	#sizes-box h1{
		text-align: center;
	}

	#countries{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding: 0;
		gap: 40px;

	}

	.country {
		list-style: none;
		padding: 20px 0;
		font-size: 1.5rem;
		font-weight: bold;
		border-radius: 7px;
		color: rgba(10, 10, 10, 70%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		color: rgba(22, 22, 22, 100%);
		width: 35%;
		border: 1px solid;
	}

	.sizesTb-Box{
		height: 0;
		overflow: hidden;
		transition: 1s;
	}

	.showTab{
		height: 180px;
	}

	.showTabJap{
		height: 140px;
	}

	.sizesTb th{
		font-size: 1rem;
	}

	.sizesTb tr td{
		font-size: 1rem;
		font-weight: 400;
	}

	/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape){

		#countries{
			background-color: #0D0D0D;
			gap: 60px;
			margin: 0;
			padding: 2% 0;
		}

		/*#countries::before{
			content: "";
			position: absolute;
			top: 107%;
			left: 0;
			width: 100%;
			height: 90vh;
			background-image: url("https://www.semana.com/resizer/L3kx5GiAc2lFyNDCodwFREZdUS8=/1920x0/smart/filters:format(jpg):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/semana/6F2PSKOYUVATFP4WZX56RY6ONA.jpg");
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			z-index: -1;
		}*/

		#sizes-box h1{
			background-color: #0D0D0D;
			color: #FCFCFC;
			margin: 0;
		}

		.country{
			width: 27%;
			height: 33vh;
			background-color: #FCFCFC;
		}

		.sizesTb-Box{
			height: auto;
		}

		.country i {
			display: none;
		}

		.sizesTb tr th{
			font-size: 1.3rem;
			padding: 0 8px;
/*			color: #FCFCFC;*/
		}

		.sizesTb tr td{
/*			color: #FCFCFC;*/
			font-size: 1.3rem;
			text-align: center;
		}


	}
</style>

<script type="text/javascript">
	const arrowSize = document.querySelectorAll(".sizes-i");
	const countriesTab = document.querySelectorAll(".sizesTb-Box");

	let usaSizes = false;
	let japSizes = false;
	let canSizes = false;
	let mexSizes = false;


	for(i = 0; i < 4; i++){
		arrowSize[i].addEventListener("touchstart", function (e){
			// USA sizes
			if(e.target === arrowSize[0] && !usaSizes){
				countriesTab[0].classList.add("showTab");
				usaSizes = !usaSizes;
			} else if(e.target === arrowSize[0] && usaSizes){
					countriesTab[0].classList.remove("showTab");
					usaSizes = !usaSizes;
				}

				// Japan sizes
			else if(e.target === arrowSize[1] && !japSizes){
				countriesTab[1].classList.add("showTabJap");
				japSizes = !japSizes;
			} else if(e.target === arrowSize[1] && japSizes){
					countriesTab[1].classList.remove("showTabJap");
					japSizes = !japSizes;
				}

				// Canada sizes
			else if(e.target === arrowSize[2] && !canSizes){
				countriesTab[2].classList.add("showTab");
				canSizes = !canSizes;
			} else if(e.target === arrowSize[2] && canSizes){
					countriesTab[2].classList.remove("showTab");
					canSizes = !canSizes;
				}

				// Mexico sizes
			else if(e.target === arrowSize[3] && !mexSizes){
				countriesTab[3].classList.add("showTabJap");
				mexSizes = !mexSizes;
			} else if(e.target === arrowSize[3] && mexSizes){
					countriesTab[3].classList.remove("showTabJap");
					mexSizes = !mexSizes;
				}
		});
	}
	
</script>