<div id="wePics">
	<h1 id="picsH1">Fotos</h1>
	<picture>
		<figure class="weFig">
			<img class="weImg" alt="Almacén" src="https://burst.shopifycdn.com/photos/sun-shines-into-warehouse.jpg?width=925&format=pjpg&exif=1&iptc=1">
			<figcaption class="weFigCap">Almacén</figcaption>
		</figure>
		<!-- <figure class="weFig">
			<img class="weImg" alt="Instalaciónes" src="https://burst.shopifycdn.com/photos/windowless-white-building.jpg?width=925&format=pjpg&exif=1&iptc=1">
			<figcaption class="weFigCap">Instalaciónes</figcaption>
		</figure>
		<figure class="weFig">
			<img class="weImg" alt="Carga de producto" src="https://burst.shopifycdn.com/photos/truck-at-loading-bay.jpg?width=925&format=pjpg&exif=1&iptc=1">
			<figcaption class="weFigCap">Carga de producto</figcaption>
		</figure>
		<figure class="weFig">
			<img class="weImg" alt="Producto" src="https://images.unsplash.com/photo-1596119415004-be78a87f8d14?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=762&q=80">
			<figcaption class="weFigCap">Producto</figcaption>
		</figure>
		<figure class="weFig">
			<img class="weImg" alt="Equipo" src="https://images.unsplash.com/photo-1572021335469-31706a17aaef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
			<figcaption class="weFigCap">Equipo</figcaption>
		</figure> -->
	</picture>
</div>

<style type="text/css">

		#wePics{
			background-color: rgba(10, 10, 10, 100%);
			padding: 10% 0;
		}

		#picsH1{
			font-size: 1.7rem;
			text-align: center;
			color: #FBFBFB;
		}

		#wePics picture{
			display: flex;
			flex-flow: row wrap;
			gap: 50px;

		}

		.weFig{
			width: 80%;
			margin: 0 auto;
			background-color: rgba(10, 10, 10, 100%);
		}

		.weImg{
			width: 100%;
		}

		.weFigCap{
			text-align: center;
			color: rgba(252, 252, 252, 100%);
		}

</style>