
	<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div id="team-img" class="swiper-slide"></div>
    <div id="product-img" class="swiper-slide"></div>
    <div id="warehouse-img" class="swiper-slide"></div>
    <div id="companyFront-img" class="swiper-slide"></div>
    <div id="charging-img" class="swiper-slide"></div>
    			
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<style type="text/css">

	.swiper{
		width: 100%;
		height: 50vh;
	}

	#team-img{
		background-image: url("https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
		background-size: cover;
		background-position: center;
	}

	#product-img{
		background-image: url("https://images.unsplash.com/photo-1596119415004-be78a87f8d14?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=762&q=80");	
		background-size: cover;
		background-position: center;
}

	#warehouse-img{
		background-image: url("https://burst.shopifycdn.com/photos/white-warehouse-loading-bays.jpg?width=925&format=pjpg&exif=1&iptc=1");	
		background-size: cover;
		background-position: center;
		
	}

	#companyFront-img{
		background-image: url("https://burst.shopifycdn.com/photos/windowless-white-building.jpg?width=925&format=pjpg&exif=1&iptc=1");	
		background-size: cover;
		background-position: center;
	}

	#charging-img{
		background-image: url("https://burst.shopifycdn.com/photos/truck-at-loading-bay.jpg?width=925&format=pjpg&exif=1&iptc=1");	
		background-size: cover;
		background-position: center;	
	}
	
/*laptop up*/
	@media (min-width: 1024px) and (orientation: landscape){

	.swiper{
		width: 60%;
		height: 50vh;
	}	

	}

</style>


<script type="text/javascript">
	const swiper = new Swiper('.swiper', {
  // effect: "fade",
  // autoplay: true,
  // Optional parameters
	slidesPerView: 1.5,
	centeredSlides: true,
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});

</script>