---
 const { title } = Astro.props
---

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
	<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
	<title>{title}</title>
</head>
<body>
	<slot/>
</body>
</html>

<style type="text/css">
	body{
		box-sizing: border-box;
		margin: 0;
		font-family: sans-serif;
		background-color: #F6F7F6;
	}


/* 
	color palette:
		background: #F6F7F6
		primary: #0D0D0D
		secondary: #8FF165
		highlight: #F0EC05
*/
</style>

<!-- bugs
- vecteezy don't recognize the certified.
- on open menu, nosotros page is clicked by side effect.
- topics are accidentally oppened on drag.
- horizontally mode bugs:
	*topics doesn't show all the content.
	*menu don't scroll. -->
